<extends src="app.html">
<block name="title">NPC project</block>
<block name="body">



<!--    <include src="general/preloader.html"></include>-->
    <include src="general/top.html"></include>
    <include src="general/mobileMenu.html"></include>

    <main class="main-page">
        <include src="secondPages/customServiceFixed.html"></include>
        <include src="secondPages/breadcrumbs.html"></include>
        <include src="secondPages/generalInformation.html"></include>
        <include src="secondPages/iconsAdvantages.html"></include>
        <include src="secondPages/aboutDepartment.html"></include>
        <include src="secondPages/popularServices.html"></include>
        <include src="secondPages/necessaryServices.html"></include>
        <include src="secondPages/casesCompany.html"></include>
        <include src="secondPages/trust.html"></include>
        <include src="secondPages/orderServices.html"></include>
    </main>

    <include src="general/footer.html"></include>



</block>
</extends>