<extends src="app.html">
<block name="title">NPC project</block>
<block name="body">



    <include src="general/preloader.html"></include>
    <include src="general/top.html"></include>
    <include src="general/mobileMenu.html"></include>

<div id="fullpage">
    <include src="homePage/header.html"></include>
    <include src="homePage/directionsSection.html"></include>
    <include src="homePage/advantagesSection.html"></include>
    <include src="homePage/casesSection.html"></include>
    <include src="homePage/mapSection.html"></include>

    <include src="homePage/pressSection.html"></include>

    <include src="general/footer.html"></include>
</div>



</block>
</extends>