<extends src="app.html">
<block name="title">ASMFM project</block>
<block name="body">



<!--    <include src="navbar.html"></include>-->
    <include src="preloader.html"></include>
    <include src="top.html"></include>
    <include src="mobileMenu.html"></include>

<div id="fullpage">

    <div class="section" style="background: #0d0d0d;">
    </div>
    <div class="section">Some section</div>
    <div class="section ">Some section</div>

    <include src="footer.html"></include>
</div>



</block>
</extends>