<extends src="app.html">
<block name="title">ASMFM project</block>
<block name="body">



<!--    <include src="preloader.html"></include>-->
    <include src="top.html"></include>
    <include src="mobileMenu.html"></include>

<div id="fullpage">
    <!--<include src="header.html"></include>
    <include src="directionsSection.html"></include>
    <include src="advantagesSection.html"></include>

    <include src="casesSection.html"></include>-->

    <include src="mapSection.html"></include>

    <include src="footer.html"></include>
</div>



</block>
</extends>