<extends src="app.html">
<block name="title">NPC project</block>
<block name="body">



<!--    <include src="general/preloader.html"></include>-->
    <include src="general/top.html"></include>
    <include src="general/mobileMenu.html"></include>

    <main class="main-page">
        <include src="secondPages/breadcrumbs.html"></include>
        <div class="container">
            <h1>Отзывы</h1>
            <p>ООО «Научно-производственный центр «Самара» с 2005 года решает самые сложные<br> задачи в различных сферах. Большинство компаний начав сотрудничать с нами однажды<br> становится нашими постоянными клиентами. </p>
        </div>

        <include src="secondPages/reviewsBlock.html"></include>
        <include src="secondPages/trust.html"></include>

    </main>

    <include src="general/footer.html"></include>



</block>
</extends>