<extends src="app.html">
<block name="title">NPC project</block>
<block name="body">



<!--    <include src="preloader.html"></include>-->
    <include src="top.html"></include>
    <include src="mobileMenu.html"></include>

    <main class="main-page">
        <include src="secondPages/customServiceFixed.html"></include>
        <include src="secondPages/breadcrumbs.html"></include>
        <include src="secondPages/generalInformation.html"></include>
        <include src="secondPages/iconsAdvantages.html"></include>

    </main>



</block>
</extends>