<div class="section fp-auto-height-responsive main-advantages">
  <div class="main-advantages-bg main-advantages__bg scene-parallax">
    <img src="../img/section-mol-bg.svg" alt="" class="main-advantages-bg__img" data-depth="0.2">
  </div>
  <div class="main-advantages__content">
    <div class="container">
      <div class="main-advantages__title title-h2">Наши преимущества</div>
      <div class="main-advantages__group">
        <div class="row">
          <div class="col-sm-6 col-lg-4">
            <div class="main-advantages__item item-advantage">
              <div class="item-advantage__number">
                <span class="item-advantage__counter" data-start="0" data-end="15">&hellip;</span>+
              </div>
              <div class="item-advantage__text">лет на рынке услуг</div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="main-advantages__item item-advantage">
              <div class="item-advantage__number">
                <span class="item-advantage__counter" data-start="0" data-end="100">&hellip;</span>+
              </div>
              <div class="item-advantage__text">единиц оборудования</div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="main-advantages__item item-advantage">
              <div class="item-advantage__number"><span class="item-advantage__counter" data-start="0" data-end="25">&hellip;</span>+</div>
              <div class="item-advantage__text">постоянных крупных<br> клиентов</div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="main-advantages__item item-advantage">
              <div class="item-advantage__number">
                <span class="item-advantage__counter" data-start="0" data-end="300">&hellip;</span>+
              </div>
              <div class="item-advantage__text">заключений по экспертизе</div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="main-advantages__item item-advantage">
              <div class="item-advantage__number">
                <span class="item-advantage__counter" data-start="0" data-end="1000">&hellip;</span>+
              </div>
              <div class="item-advantage__text">протоколов испытаний</div>
            </div>
          </div>
        </div>
      </div>

      <div class="main-advantages__part-title title-h2">Нам доверяют</div>
      <div class="main-advantages__slider slider-partners">
        <div class="slider-partners__item"><img src="../img/p-slide-01.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-02.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-03.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-04.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-05.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-06.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-07.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-08.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-09.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-10.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-11.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-12.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-13.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-14.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-15.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-16.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-17.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-18.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-19.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-20.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-21.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-22.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-23.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-24.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-25.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-27.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-28.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-29.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-30.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-31.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-32.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-33.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-34.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-35.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-36.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-37.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-38.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-39.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
        <div class="slider-partners__item"><img src="../img/p-slide-40.png" alt=""
                                                class="img-fluid slider-partners__img"></div>
      </div>
    </div>
  </div>

</div>