<div class="section main-directions fp-auto-height-responsive">
  <div class="container container-cust order-0 order-lg-2">
    <div class="main-directions__title">Основные направления</div>
  </div>

  <div class="main-directions__planet direct-planet scene-parallax order-1 order-lg-0">
    <div class="direct-planet__picture" data-depth="0.3">
      <img src="../img/planet.svg" alt="" class="direct-planet__img img-fluid">
    </div>

    <div class="direct-planet__group nj-tabs__group-tabs" data-depth="0.4">
      <a href="#" class="direct-planet__item direct-planet__item_1 item-planet item-planet_val_1 nj-tabs__title nj-tabs__title_active" ></a>
      <a href="#" class="direct-planet__item direct-planet__item_2 item-planet item-planet_val_2 nj-tabs__title"></a>
      <a href="#" class="direct-planet__item direct-planet__item_3 item-planet item-planet_val_3 nj-tabs__title"></a>
      <a href="#" class="direct-planet__item direct-planet__item_4 item-planet item-planet_val_4 nj-tabs__title"></a>
      <a href="#" class="direct-planet__item direct-planet__item_5 item-planet item-planet_val_5 nj-tabs__title"></a>
    </div>
  </div>

  <div class="container order-2 order-lg-1">
    <div class="nj-tabs__group">
      <div class="nj-tabs__info nj-tabs__info_show">
        <div class="main-directions__information information-directions">
          <div class="information-directions__content">
            <div class="information-directions__title">Испытательная лаборатория</div>
            <div class="information-directions__text">НПЦ «Самара» имеет возможность проведения различных испытаний
              металла труб. Мы проводим входной контроль труб на соответствие различным Техническим условиям и
              ГОСТам, который включает любые виды испытаний.
            </div>
            <a href="" class="information-directions__link btn-link-default btn-link-default_v2 transition">Подробнее</a></div>
        </div>
      </div>
      <div class="nj-tabs__info">
        <div class="main-directions__information information-directions">
          <div class="information-directions__content">
            <div class="information-directions__title">Аналитический отдел</div>
            <div class="information-directions__text">НПЦ «Самара» имеет возможность проведения различных
              испытаний
              металла труб. Мы проводим входной контроль труб на соответствие различным Техническим условиям и
              ГОСТам, который включает любые виды испытаний.
            </div>
            <a href="" class="information-directions__link  btn-link-default btn-link-default_v2">Подробнее</a></div>
        </div>
      </div>
      <div class="nj-tabs__info">
        <div class="main-directions__information information-directions">
          <div class="information-directions__content">
            <div class="information-directions__title">Отдел инспекционного контроля и коррозионного мониторинга</div>
            <div class="information-directions__text">НПЦ «Самара» имеет возможность проведения различных
              испытаний
              металла труб. Мы проводим входной контроль труб на соответствие различным Техническим условиям и
              ГОСТам, который включает любые виды испытаний.
            </div>
            <a href="" class="information-directions__link  btn-link-default btn-link-default_v2">Подробнее</a></div>
        </div>
      </div>
      <div class="nj-tabs__info">
        <div class="main-directions__information information-directions">
          <div class="information-directions__content">
            <div class="information-directions__title">Испытательная лаборатория</div>
            <div class="information-directions__text">НПЦ «Самара» имеет возможность проведения различных
              испытаний
              металла труб. Мы проводим входной контроль труб на соответствие различным Техническим условиям и
              ГОСТам, который включает любые виды испытаний.
            </div>
            <a href="" class="information-directions__link  btn-link-default btn-link-default_v2">Подробнее</a></div>
        </div>
      </div>
      <div class="nj-tabs__info">
        <div class="main-directions__information information-directions">
          <div class="information-directions__content">
            <div class="information-directions__title">Испытания под планируемые</div>
            <div class="information-directions__text">НПЦ «Самара» имеет возможность проведения различных
              испытаний
              металла труб. Мы проводим входной контроль труб на соответствие различным Техническим условиям и
              ГОСТам, который включает любые виды испытаний.
            </div>
            <a href="" class="information-directions__link  btn-link-default btn-link-default_v2">Подробнее</a></div>
        </div>
      </div>

    </div>
  </div>

</div>