<header class="section header fp-auto-height-responsive">
  <canvas id="canvas"></canvas>

  <div class="main-slider">
    <div class="main-slider__item main-slider__item_slide_1">
      <div class="main-slider__content">
        <div class="main-slider__active-picture">
          <img src="../img/prod-slide-1.png" alt="" class="main-slider__prod-img img-fluid">
        </div>
        <div class="main-slider__text-picture">
          <div class="container"><img src="../img/text-slide-1.svg" data-mobile="../img/text-slide-1m.png" alt="" class="main-slider__prod-img img-fluid">
          </div>
        </div>
        <div class="main-slider__description">
          <div class="container">
            <div class="main-slider__inf information-slide information-slide_text_1">
              <div class="information-slide__group">
                <div class="information-slide__text">
                  <p class="information-slide__paragraph">Оценка свойств и качества наружных и внутренних
                    антикоррозионных
                    покрытий</p>
                  <p class="information-slide__paragraph">Испытания металлов и сплавов, а также готовых металлических
                    изделий на соответствие нормативно-технической документации</p>
                  <p class="information-slide__paragraph">Испытания под планируемые условия эксплуатации</p>
                </div>
                <div class="main-slider__bottom">
                  <a href="#" class="information-slide__link btn-link-default">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-slider__item main-slider__item_slide_2">
      <div class="main-slider__content">
        <div class="main-slider__active-picture">
          <img src="../img/prod-slide-2.png" alt="" class="main-slider__prod-img img-fluid">
        </div>
        <div class="main-slider__text-picture">
          <div class="container"><img src="../img/text-slide-2.svg" data-mobile="../images/text-slide-2m.svg" alt="" class="main-slider__prod-img img-fluid">
          </div>
        </div>
        <div class="main-slider__description">
          <div class="container">
            <div class="main-slider__inf information-slide information-slide_ai_fs">
              <div class="information-slide__group">
                <div class="information-slide__text">
                  <p class="information-slide__paragraph">Оценка свойств и качества наружных и внутренних
                    антикоррозионных покрытий</p>
                  <p class="information-slide__paragraph">Испытания металлов и сплавов, а также готовых металлических
                    изделий на соответствие нормативно-технической документации</p>
                  <p class="information-slide__paragraph">Испытания под планируемые условия эксплуатации</p>
                </div>
                <div class="main-slider__bottom">
                  <a href="#" class="information-slide__link btn-link-default">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-slider__item main-slider__item_slide_3">
      <div class="main-slider__content">
        <div class="main-slider__active-picture">
          <img src="../img/prod-slide-3.png" alt="" class="main-slider__prod-img img-fluid">
        </div>
        <div class="main-slider__text-picture">
          <div class="container"><img src="../img/text-slide-3.svg" alt="" class="main-slider__prod-img img-fluid">
          </div>
        </div>
        <div class="main-slider__description">
          <div class="container">
            <div class="main-slider__inf information-slide">
              <div class="information-slide__group">
                <div class="information-slide__text">
                  <p class="information-slide__paragraph">Оценка свойств и качества наружных и внутренних
                    антикоррозионных покрытий</p>
                  <p class="information-slide__paragraph">Испытания металлов и сплавов, а также готовых металлических
                    изделий на соответствие нормативно-технической документации</p>
                </div>
                <div class="main-slider__bottom">
                  <a href="#" class="information-slide__link btn-link-default">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-slider__item main-slider__item_slide_4">
      <div class="main-slider__content">
        <div class="main-slider__active-picture">
          <img src="../img/prod-slide-4.png" alt="" class="main-slider__prod-img img-fluid">
        </div>
        <div class="main-slider__text-picture">
          <div class="container"><img src="../img/text-slide-4.svg" alt="" class="main-slider__prod-img img-fluid">
          </div>
        </div>
        <div class="main-slider__description">
          <div class="container">
            <div class="main-slider__inf information-slide information-slide_ai_fs">
              <div class="information-slide__group">
                <div class="information-slide__text">
                  <p class="information-slide__paragraph">Оценка свойств и качества наружных и внутренних
                    антикоррозионных покрытий</p>
                  <p class="information-slide__paragraph">Испытания металлов и сплавов, а также готовых металлических
                    изделий на соответствие нормативно-технической документации</p>
                  <p class="information-slide__paragraph">Испытания под планируемые условия эксплуатации</p>
                </div>
                <div class="main-slider__bottom">
                  <a href="#" class="information-slide__link btn-link-default">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-slider__item main-slider__item_slide_5">
      <div class="main-slider__content">
        <div class="main-slider__active-picture">
          <img src="../img/prod-slide-5.png" alt="" class="main-slider__prod-img img-fluid">
        </div>
        <div class="main-slider__text-picture">
          <div class="container"><img src="../img/text-slide-5.svg" alt="" class="main-slider__prod-img img-fluid">
          </div>
        </div>
        <div class="main-slider__description">
          <div class="container">
            <div class="main-slider__inf information-slide information-slide_ai_fs">
              <div class="information-slide__group">
                <div class="information-slide__text">
                  <p class="information-slide__paragraph">Оценка свойств и качества наружных и внутренних
                    антикоррозионных покрытий</p>
                  <p class="information-slide__paragraph">Испытания металлов и сплавов, а также готовых металлических
                    изделий на соответствие нормативно-технической документации</p>
                  <p class="information-slide__paragraph">Испытания под планируемые условия эксплуатации</p>
                </div>
                <div class="main-slider__bottom">
                  <a href="#" class="information-slide__link btn-link-default">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
