<div class="section fp-auto-height-responsive main-press">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="main-press__title title-h2">Новости</div>
        <div class="latest-news">
          <div class="row">
            <div class="col-lg-6"><a href="#" class="latest-news__item transition">
              <div class="latest-news__title">Гидроспытания</div>
              <div class="latest-news__text">В лаборатории ООО «НПЦ «Самара» была введена в эксплуатацию установка
                гидравлических испытаний, предназначенная для проведения гидравлических испытаний образцов
              </div>
              <div class="latest-news__date">02 апреля 2019</div>
            </a>
            </div>
            <div class="col-lg-6"><a href="#" class="latest-news__item transition">
              <div class="latest-news__title">Пресс</div>
              <div class="latest-news__text">В лаборатории ООО «НПЦ «Самара» был введен в эксплуатацию универсальный
                испытательный пресс, предназначенный для моделирования воздействующих на трубопровод нагрузок, таких как
                ...
              </div>
              <div class="latest-news__date">02 апреля 2019</div>
            </a>
            </div>
            <div class="col-lg-6"><a href="#" class="latest-news__item transition">
              <div class="latest-news__title">Инженерная практика</div>
              <div class="latest-news__text">Сотрудники ООО «НПЦ «Самара» приняли участие в III ежегодной
                научно-практической конференции «Добыча-2019. Повышение
              </div>
              <div class="latest-news__date">25 марта 2019</div>
            </a>
            </div>
            <div class="col-lg-6"><a href="#" class="latest-news__item transition">
              <div class="latest-news__title">Транснефть</div>
              <div class="latest-news__text">ООО «НПЦ «Самара» успешно прошло инспекцию ООО «НИИ Транснефть» по
                расширению перечня испытываемых видов продукции. На основании чего получено Заключение о ...
              </div>
              <div class="latest-news__date">25 марта 2019</div>
            </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="main-press__title main-press__title_text_right title-h2">Статьи</div>
        <div class="latest-articles">
          <div class="row">
            <div class="col-12">
              <a href="" class="latest-articles__item">
                <div class="latest-articles__title">Модель расчета удельной аварийности трубопроводов по данным внутритрубной диагностики и ультразвукового</div>
              </a>
            </div>
            <div class="col-12">
              <a href="" class="latest-articles__item">
                <div class="latest-articles__title">Структурные превращения в биметалле X70+316L при изготовлении фасонных изделий штампосварным методом</div>
              </a>
            </div>
            <div class="col-12">
              <a href="" class="latest-articles__item">
                <div class="latest-articles__title">Особенности эксплуатации насосно-компрессорных труб
                  в условиях скважин коррозионного фонда</div>
              </a>
            </div>
            <div class="col-12">
              <a href="" class="latest-articles__item">
                <div class="latest-articles__title">Методика расчета концентраций CO2 И H2S в жидкой фазе</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>