.title-h1 {
  font-weight: 900;
  font-size: 82px;
  line-height: 88px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  &_opacity {
    opacity: .25;
  }
}

.title-h2 {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}