.mobile-menu {
  display: none;
}

.mobile-menu-btn {
  position: relative !important;
  top: 0 !important;
  display: none !important;
  width: 50px;
  height: 50px;
  margin-left: auto;
  &__span, &__span::before, &__span::after {
    width: 25px !important;
    display: block;
    position: absolute;
    left: 0;
    height: 3px !important;
    background: $white !important;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    margin-left: 0;
  }
  &__span::before {
    top: -7px !important;
    margin-left: 0;
  }
  &__span::after {
    bottom: -7px !important;
    margin-left: 0;
  }
  &.toggle-open &__span::before {
    top: -10px !important;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  &.toggle-open &__span::after {
    top: 9px !important;
  }
}

.hc-offcanvas-nav {
  & .nav-close .logo__img_mobile {
    width: 130px;
  }
  & li.nav-close span::before {
    margin-left: -10px !important;
  }
  & .mobile-menu__item .mobile-menu__link {
    padding: 20px 17px;
    font-size: 16px;
    font-weight: 300;
  }
  & li.nav-close span::before, & li.nav-close span::after {
    width: 9px !important;
    height: 9px !important;
  }
  & .nav-next span::before, & li.nav-back span::before {
    width: 10px;
    height: 10px;
  }
  & li.nav-close span, & li.nav-parent .nav-next, & li.nav-back span {
    width: 66px !important;
  }
  & h2 {
    font-size: 22px !important;
    padding: 15px 17px !important;
    color: #fff !important;
    background: linear-gradient(180deg, #074167 0%, #022031 100%) !important;
    margin-bottom: 0 !important;
    text-transform: uppercase;
    font-weight: 300 !important;
  }
  & li.nav-parent .nav-item:not(:last-child) {
    margin-right: 65px !important;
  }
  & li.nav-close a {
    background: linear-gradient(180deg, #074167 0%, #022031 100%) !important;
    border-top: 1px solid transparent !important;
    border-bottom: 1px solid transparent !important;
  }
  & li.nav-back a {
    background: transparent !important;
  }
  & .nav-container, & .nav-content {
    background: linear-gradient(180deg, #074167 0%, #022031 100%) !important;
  }
  & .nav-wrapper, & ul {
    background: transparent !important;
  }
  & .nav-item, & a {
    padding: 20px 17px;
    font-size: 15px;
    color: #38af49;
    border-bottom: 1px solid #2b2b2b;
  }
  &:not(.touch-device) a:hover {
    background: none;
  }
  & a[href]:not([href="#"]) > span.nav-next {
    border-left: 1px solid #2b2b2b;
  }
  & li.nav-back a:hover, & li.nav-close a:hover {
    background: none;
  }
}

.mobile-menu__item_active a {
  background: #31679e !important;
}





