<div class="section fp-auto-height-responsive main-cases">
  <div class="main-cases__content">
    <div class="container">
      <div class="main-cases__top">
        <div class="main-cases__title title-h1">Кейсы компании</div>
        <div class="main-cases__subtitle">Подберем или разработаем уникальное решение как для промышленных, так и для
          бытовых задач:
        </div>
      </div>
      <div class="slider-cases-wrap">
        <div class="slider-cases main-cases__slider">
          <div class="slider-cases__item case-item">
            <div class="case-item__title">Судебная и досудебная экспертиза</div>
            <div class="case-item__subtitle">Пример реальной выполненной экспертизы для одного из заказчиков:</div>
            <p class="case-item__paragraph"><strong>Цель:</strong> Экспертиза участка стояка ГВС с двумя отводами и запирающими
              устройствами к полотенцесушителю.</p>
            <p class="case-item__paragraph"><strong>Причина:</strong> Возникновение локальной гальванической пары из-за использования
              материалов (металл отвода и апирающего устройства) с различными электрохимическими потенциалами – ускоренная
              коррозия.</p>
            <p class="case-item__paragraph"><strong>Вывод:</strong> Материалы переданы Заказчику, для использования в судебном
              процессе.</p>
            <p class="case-item__paragraph"><strong>Результат:</strong> Заключение принято в суде. Проведены ремонтные работы.</p>
          </div>
          <div class="slider-cases__item case-item">
            <div class="case-item__title">Досудебная экспертиза</div>
            <div class="case-item__subtitle">Пример реальной выполненной экспертизы для одного из заказчиков:</div>
            <p class="case-item__paragraph">Цель: Экспертиза участка стояка ГВС с двумя отводами и запирающими
              устройствами к полотенцесушителю.</p>
            <p class="case-item__paragraph">Причина: Возникновение локальной гальванической пары из-за использования
              материалов (металл отвода и апирающего устройства) с различными электрохимическими потенциалами – ускоренная
              коррозия.</p>
            <p class="case-item__paragraph">Вывод: Материалы переданы Заказчику, для использования в судебном
              процессе.</p>
            <p class="case-item__paragraph">Результат: Заключение принято в суде. Проведены ремонтные работы.</p>
          </div>
          <div class="slider-cases__item case-item">
            <div class="case-item__title">Экспертиза досудебная и судебная</div>
            <div class="case-item__subtitle">Пример реальной выполненной экспертизы для одного из заказчиков:</div>
            <p class="case-item__paragraph">Цель: Экспертиза участка стояка ГВС с двумя отводами и запирающими
              устройствами к полотенцесушителю.</p>
            <p class="case-item__paragraph">Причина: Возникновение локальной гальванической пары из-за использования
              материалов (металл отвода и апирающего устройства) с различными электрохимическими потенциалами – ускоренная
              коррозия.</p>
            <p class="case-item__paragraph">Вывод: Материалы переданы Заказчику, для использования в судебном
              процессе.</p>
            <p class="case-item__paragraph">Результат: Заключение принято в суде. Проведены ремонтные работы.</p>
          </div>
          <div class="slider-cases__item case-item">
            <div class="case-item__title">Досудебная экспертиза и судебная экспертиза</div>
            <div class="case-item__subtitle">Пример реальной выполненной экспертизы для одного из заказчиков:</div>
            <p class="case-item__paragraph">Цель: Экспертиза участка стояка ГВС с двумя отводами и запирающими
              устройствами к полотенцесушителю.</p>
            <p class="case-item__paragraph">Причина: Возникновение локальной гальванической пары из-за использования
              материалов (металл отвода и апирающего устройства) с различными электрохимическими потенциалами – ускоренная
              коррозия.</p>
            <p class="case-item__paragraph">Вывод: Материалы переданы Заказчику, для использования в судебном
              процессе.</p>
            <p class="case-item__paragraph">Результат: Заключение принято в суде. Проведены ремонтные работы.</p>
          </div>
          <div class="slider-cases__item case-item">
            <div class="case-item__title">Эудебная экспертиза</div>
            <div class="case-item__subtitle">Пример реальной выполненной экспертизы для одного из заказчиков:</div>
            <p class="case-item__paragraph">Цель: Экспертиза участка стояка ГВС с двумя отводами и запирающими
              устройствами к полотенцесушителю.</p>
            <p class="case-item__paragraph">Причина: Возникновение локальной гальванической пары из-за использования
              материалов (металл отвода и апирающего устройства) с различными электрохимическими потенциалами – ускоренная
              коррозия.</p>
            <p class="case-item__paragraph">Вывод: Материалы переданы Заказчику, для использования в судебном
              процессе.</p>
            <p class="case-item__paragraph">Результат: Заключение принято в суде. Проведены ремонтные работы.</p>
          </div>
        </div>
        <div class="slider-cases__bottom">
          <a href="#" class="btn-link-default btn-link-default_v3">Еще кейсы</a>
        </div>
      </div>
    </div>
  </div>

  <div class="main-cases__active-picture cases-picture"><img src="../img/cases-picture.svg" alt="" class="cases-picture__img img-fluid"></div>

</div>