<div class="section main-directions fp-auto-height-responsive">
  <div class="container container-cust order-0 order-lg-2">
    <div class="main-directions__title">Основные направления</div>
  </div>

  <div class="main-directions__planet direct-planet scene-parallax order-1 order-lg-0">
    <div class="direct-planet__picture" data-depth="0.3">
      <img src="../img/planet.svg" alt="" class="direct-planet__img img-fluid">
    </div>

    <div class="direct-planet__group nj-tabs__group-tabs" data-depth="0.4">
      <a href="#"
         class="direct-planet__item direct-planet__item_1 item-planet item-planet_val_1 nj-tabs__title nj-tabs__title_active"></a>
      <a href="#" class="direct-planet__item direct-planet__item_2 item-planet item-planet_val_2 nj-tabs__title"></a>
      <a href="#" class="direct-planet__item direct-planet__item_3 item-planet item-planet_val_3 nj-tabs__title"></a>
      <a href="#" class="direct-planet__item direct-planet__item_4 item-planet item-planet_val_4 nj-tabs__title"></a>
      <a href="#" class="direct-planet__item direct-planet__item_5 item-planet item-planet_val_5 nj-tabs__title"></a>
    </div>
  </div>

  <div class="container order-2 order-lg-1">
    <div class="nj-tabs__group">
      <div class="nj-tabs__info nj-tabs__info_show">
        <div class="main-directions__information information-directions">
          <div class="information-directions__content">
            <div class="information-directions__title">Испытательная лаборатория</div>
            <p class="information-directions__text">Оценка свойств и качества наружных и внутренних
              антикоррозионных покрытий
            </p>
            <p class="information-directions__text">Испытания металлов и сплавов, а также готовых металлических
              изделий на соответствие нормативно-технической документации
            </p>
            <p class="information-directions__text">Испытания под планируемые условия эксплуатации</p>
            <a href="#"
               class="information-directions__link btn-link-default btn-link-default_v2 transition">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="nj-tabs__info">
        <div class="main-directions__information information-directions">
          <div class="information-directions__content">
            <p class="information-directions__title">Аналитический отдел</p>
            <p class="information-directions__text">Проведение судебной и досудебной экспертизы</p>
            <p class="information-directions__text">Выявление причин преждевременного отказа оборудования</p>
            <p class="information-directions__text">Разработка уникальных методик испытания материалов</p>
            <p class="information-directions__text">Подбор материалов под конкретные условия эксплуатации</p>
            <p class="information-directions__text">Анализ и разработка нормативно-технической документации</p>
            <a href="" class="information-directions__link btn-link-default btn-link-default_v2">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="nj-tabs__info">
        <div class="main-directions__information information-directions">
          <div class="information-directions__content">
            <div class="information-directions__title">Отдел инспекционного контроля и коррозионного мониторинга</div>
            <p class="information-directions__text">Осуществление инспекционного контроля за изготовлением трубной
              продукции и нефтепромыслового оборудования</p>
            <p class="information-directions__text">Проведение технических аудитов заводов-изготовителей и
              производственных площадок</p>
            <p class="information-directions__text">Подготовка, разработка программ, инженерное сопровождение
              опытно-промысловых испытаний на полигонах нефтяных компаний</p>
            <a href="" class="information-directions__link  btn-link-default btn-link-default_v2">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="nj-tabs__info">
        <div class="main-directions__information information-directions">
          <div class="information-directions__content">
            <div class="information-directions__title">Отдел метрологии</div>
            <p class="information-directions__text">Техническое обслуживание, ремонт, калибровка и поверка
              газоанализаторов
            </p>
            <a href="#" class="information-directions__link  btn-link-default btn-link-default_v2">Подробнее</a></div>
        </div>
      </div>
      <div class="nj-tabs__info">
        <div class="main-directions__information information-directions">
          <div class="information-directions__content">
            <div class="information-directions__title">Технический отдел</div>
            <p class="information-directions__text">Разработка и внедрение уникального оборудования для научных
              лабораторий, испытательных центров, объектов малой промышленности и прочих потребителей</p>
            <p class="information-directions__text">В рамках импортозамещения - анализ имеющихся решений и наработок,
              подбор отечественных материалов и комплектующих, реализация необходимого оборудования на собственных
              мощностях</p>
            <p class="information-directions__text">Собственное производство. Персонализация. Гарантия и сервис</p>

            <a href="" class="information-directions__link  btn-link-default btn-link-default_v2">Подробнее</a></div>
        </div>
      </div>
    </div>
  </div>

</div>