@import 'customVariables';

body {
  color: $white;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-weight: 900;
  font-size: 86px;
  line-height: 96px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 50px;
}

p {
  font-weight: 300;
  font-size: 16px;
}

a {
  color: #07A7D8;
}

b, strong {
  font-weight: bold;
}
