@import 'customVar';

body {
  color: $white;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-weight: 900;
  font-size: 86px;
  line-height: 96px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 50px;
}

a {
  color: $white;
}
