@import 'customVariables';
@import "partials/global/globalStyles";
@import "partials/homePage/homePageStyles";
@import "partials/secondPages/secondPageStyles";
@import "animation/animation";
@import "mediaQueries/mediaQueries";



