.container-cust {
  position: absolute;
  bottom: 20px;
}

.main-directions {
  background-image: url('../../../img/light.png');
  background-repeat: no-repeat;
  background-position: top left;
  position: relative;
  padding-top: 150px;
  padding-bottom: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  &__planet {
    position: absolute;
    top: 50%;
    margin-top: -280px;
    left: 5%;
    width: 900px;
    max-width: 53%;
    z-index: 10;
  }
  &__information {
    max-width: 440px;
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    transition: .3s;
  }
  &__title {
    text-align: right;
    font-weight: 900;
    font-size: 100px;
    line-height: 104px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    opacity: 0.25;
    max-width: 750px;
    display: flex;
    margin-left: auto;
  }
}

.direct-planet {
  &__img {
    animation: trY 3s ease-in-out infinite;
    transform: translate(0);
  }
  &__group {
    width: 100%;
    height: 100%;
  }
  &__item {
    position: absolute;
    &_1 {
      right: 100px;
      bottom: 115px;
    }
    &_2 {
      left: 190px;
      bottom: -20px;
    }
    &_3 {
      right: 190px;
      top: 0;
    }
    &_4 {
      left: 30px;
      top: 350px;
    }
    &_5 {
      right: 40px;
      top: 50px;
    }
  }
}

.item-planet {
  width: 100px;
  height: 100px;
  display: block;
  transition: all .3s ease-in-out;
  animation: trXY 3s ease-in-out infinite;
  transform: translate(0);
  &_val_1 {
    background: url('../../../img/Isp_lab.svg') no-repeat;
    background-size: contain;
    width: 90px;
    height: 90px;
    &:hover, &.nj-tabs__title_active {
      background: url('../../../img/Isp_lab_hover.svg') no-repeat;
      background-size: contain;
      width: 100px;
      height: 100px;
    }
  }
  &_val_2 {
    background: url('../../../img/Analityk.svg') no-repeat;
    background-size: contain;
    &:hover, &.nj-tabs__title_active {
      background: url('../../../img/Analityk_hover.svg') no-repeat;
      background-size: contain;
      width: 100px;
      height: 100px;
    }
  }
  &_val_3 {
    background: url('../../../img/Tehnic.svg') no-repeat;
    background-size: contain;
    width: 90px;
    height: 90px;
    &:hover, &.nj-tabs__title_active {
      background: url('../../../img/Tehnic_hover.svg') no-repeat;
      background-size: contain;
      width: 100px;
      height: 100px;
    }
  }
  &_val_4 {
    background: url('../../../img/Inspect.svg') no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
    &:hover, &.nj-tabs__title_active {
      background: url('../../../img/Inspect_hover.svg') no-repeat;
      background-size: contain;
      width: 100px;
      height: 100px;
    }
  }
  &_val_5 {
    background: url('../../../img/Metrolog.svg') no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
    &:hover, &.nj-tabs__title_active {
      background: url('../../../img/Metrolog_hover.svg') no-repeat;
      background-size: contain;
      width: 100px;
      height: 100px;
    }
  }
}

.nj-tabs__info_show .main-directions__information {
  transition: .3s;
  transform: scale(1);
  animation: scale .3s ease-in;
}

.information-directions {
  &__title {
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.03em;
    position: relative;
    margin-bottom: 20px;
    display: inline-block;
    padding-bottom: 10px;
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 1px;
      background: #07A7D8;
      @include boxShadowLine(#00C3FF);
    }
  }
  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 7px;
  }
  &__link {
    margin-top: 20px;
  }
}