.modal-default {
  &__content {
    padding: 50px 70px;
    background: radial-gradient(65.14% 84.79% at 100% 0%, #033755 0%, #012435 100%);
  }
  &__header {
    display: block !important;
    padding: 0 !important;
    border-bottom: none !important;
    margin-bottom: 40px;
    position: relative;
  }
  &__header .close {
    position: absolute;
    top: 7px;
    right: 0;
  }
  &__title {
    font-weight: 900;
    font-size: 28px;
    line-height: 30px !important;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  &__subtitle {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    opacity: .8;
  }
  &__body {
    padding: 0 !important;
  }
}