@import "generalInformation/generalInformation";
@import "iconsAdvantages/iconsAdvantages";
@import "aboutDepartment/aboutDepartment";
@import "popularServices/popularServices";
@import "casesCompany/casesCompany";
@import "necessaryServices/necessaryServices";
@import "labDocuments/labDocuments";
@import "trust/trust";
@import "orderServices/orderServices";
@import "numbersCounter/numbersCounter";
@import "certificates/certificates";