@import "generalInformation/generalInformation";
@import "iconsAdvantages/iconsAdvantages";
@import "aboutDepartment/aboutDepartment";
@import "popularServices/popularServices";
@import "casesCompany/casesCompany";
@import "necessaryServices/necessaryServices";
@import "labDocuments/labDocuments";
@import "trust/trust";
@import "forms/forms";
@import "numbersCounter/numbersCounter";
@import "certificates/certificates";
@import "masonryGallery/masonryGallery";
@import "generalServices/generalServices";
@import "ourHistory/ourHistory";