.main-advantages {
  position: relative;
  padding-bottom: 30px;
  background-image: url('../../../../img/section-mol-bg.png');
  background-repeat: no-repeat;
  &__content {
    position: relative;
    z-index: 9;
  }
  &__group {
    margin-bottom: 90px;
  }
  &__title {
    margin-bottom: 45px;
  }
  &__part-title {
    font-size: 45px;
    margin-bottom: 25px;
    text-align: right;
  }
  &__item {
    margin-bottom: 20px;
  }
}

.item-advantage {
  &__number {
    background: linear-gradient(180deg, rgba(0, 195, 255, 0.55) -8.65%, rgba(0, 104, 136, 0) 90.5%, rgba(0, 15, 20, 0) 90.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 90px;
    line-height: 75px;
    font-weight: 900;
    letter-spacing: -0.02em;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 100%;
      max-width: 310px;
      height: 1px;
      background: #07A7D8;
      @include boxShadowLine(#00C3FF);
    }
  }
  &__picture {
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 20px;
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 100%;
      max-width: 330px;
      height: 1px;
      background: #07A7D8;
      @include boxShadowLine(#00C3FF);
    }
  }
  &__text {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    opacity: .8;
  }
}