.cases {
  &__item {
    margin-bottom: 30px;
  }
  &__find {
    margin-top: 30px;
  }
}

.case-static {
  display: block;
  color: $white;
  text-decoration: none;
  transition: .3s;
  &:hover {
    text-decoration: none;
    box-shadow: 0 0 7px -2px #00C3FF, inset 0px 0px 7px -2px #00C3FF, inset 0 0 1px 1px rgba(255, 255, 255, 0.8);
  }
  &__information {
    background: linear-gradient(180deg, #074167 0%, #022031 100%);
    padding: 20px 30px;
   }
  &__img {
    width: 100%;
  }
}