.current-service {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 25px;
  background: radial-gradient(65.14% 84.79% at 10% 0%, #033755 0%, #012435 100%);
  &-btn {
    background: rgba(7,167,216, .7);
    width: auto;
    //height: 446px;
    padding: 10px 120px;
    text-align: center;
    box-shadow: none;
    border: none;
    color: $white;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    opacity: 0.8;
    position: fixed;
    right: -243px;
    top: 50%;
    margin-top: -60px;
    z-index: 5;
    //writing-mode: sideways-lr;
    transform: rotate(-90deg);
    transition: .5s ease-in-out;
    &_show {
      right: -181px;
    }
  }
  &_fixed {
    max-width: 440px;
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -246px;
    z-index: 9;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
    &_show {
      transform: translateX(0%);
    }
  }
  &__close {
    background: url(../../../../../img/arrow-right.svg) no-repeat;
    background-size: contain;
    width: 27px;
    height: 22px;
    position: absolute;
    top: 12px;
    right: 17px;
    cursor: pointer;
    z-index: 2;
  }
}

.menu-services {
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1em;
  position: relative;
  margin: 0 0 20px;
  padding: 0 0 30px;
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: #07A7D8;
    @include boxShadowLine(#00C3FF);
  }
  &__item {
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    text-decoration: none;
    transition: .3s;
    opacity: 0.8;
    color: $white;
    &_active, &:hover {
      color: #07A7D8;
      text-decoration: none;
    }
  }
}