.numbers-counter {
  padding: 60px 0;
  background: radial-gradient(65.14% 84.79% at 100% 100%, #033755 0%, #012435 100%);
  &__title {
    margin-bottom: 60px;
  }
  &__item {
    margin-bottom: 60px;
  }
}