.zoom-photo {
  &__shadow {
    opacity: 0;
    background: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xMSAyaC05djlsMS0xdi03aDd6Ii8+CjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik01IDE0aDl2LTlsLTEgMXY3aC03eiIvPgo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMTYgMGgtNWwxLjggMS44LTQuNSA0LjUgMS40IDEuNCA0LjUtNC41IDEuOCAxLjh6Ii8+CjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik03LjcgOS43bC0xLjQtMS40LTQuNSA0LjUtMS44LTEuOHY1aDVsLTEuOC0xLjh6Ii8+Cjwvc3ZnPgo=) center 50% no-repeat rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity .3s ease-in-out;
  }
  &__item {
    position: relative;
    margin-bottom: 30px;
    display: block;
    transition: box-shadow .3s ease-in-out;
    background: $white;
    &:hover {
      box-shadow: 0 0 0 3px #07A7D8;
    }
    &:hover .zoom-photo__shadow {
      opacity: 1;
    }
  }
}