@media (max-width: 991.98px) {
  .section {
    padding-top: 70px;
  }
  .title-h1 {
    font-size: 60px;
    line-height: 64px;
  }
  .preloader {
    &__svg svg {
      width: 250px;
    }
    &__text {
      font-size: 26px;
    }
  }
  .mobile-menu-btn {
    display: block !important; }
  .main-menu {
    display: none;
  }
  .main-slider{
    &__content {
      margin-top: 70px;
      height: auto;
    }
    &__title {
      font-size: 80px;
      line-height: 84px;
      -webkit-text-stroke: 3px rgba(255, 255, 255, 0.1);
    }
    &__item {
      height: auto;
      &_slide_1 .main-slider__active-picture {
        max-width: 500px;
      }
      &_slide_2 .main-slider__active-picture {
        max-width: 570px;
        right: -240px;
        bottom: 0;
      }
      &_slide_3 .main-slider__active-picture {
        max-width: 650px;
      }
      &_slide_3 .main-slider__text-picture {
        margin-bottom: 50px;
      }
      &_slide_4 .main-slider__active-picture {
        max-width: 320px;
        right: -67px;
      }
      &_slide_5 .main-slider__active-picture {
        max-width: 525px;
        right: -56px;
        bottom: 70px;
      }
      &_slide_3 .main-slider__title {
        font-size: 45px;
        line-height: 47px;
        -webkit-text-stroke: 2px rgba(255, 255, 255, 0.1);
      }
    }
  }

  .main-directions {
    padding-top: 90px;
    padding-bottom: 30px;
    &__title {
      font-size: 62px;
      line-height: 70px;
      max-width: 100%;
    }
    &__planet {
      position: relative;
      left: auto;
      top: auto;
      margin-top: 0;
      margin-bottom: 40px;
      width: 600px;
      max-width: 100%;
    }
    &__information {
      max-width: 100%;
      margin-left: 0;
    }
  }
  .container-cust {
    position: relative;
    bottom: auto;
  }

  .main-cases{
    background-position: top right;
    &__top {
      margin-bottom: 40px;
    }
    &__active-picture {
      display: none;
    }
    &__title {
      margin-bottom: 7px;
    }
    &__subtitle {
      font-size: 16px;
      max-width: 600px;
    }
  }

  .slider-cases{
    &__item{
      margin-bottom: 30px;
    }
    & .slick-slide {
      margin: 8px;
    }
  }
  .case-item {
    padding: 20px;
  }

  .main-territory {
    padding-bottom: 60px;
    background-position: 600px bottom;
    &__top {
      margin-bottom: 20px;
    }
    &__map {
      padding-left: 0;
      position: relative;
      bottom: auto;
      left: auto;
    }
  }
  .map-cities {
    &__svg {
      max-width: 100%;
    }
  }
  .main-press {
    background-position: 600px top;
    padding-bottom: 20px;
    &__title {
      text-align: left;
    }
  }

  .latest-news {
    &__item {
      height: 200px;
    }
    &__title {
      font-size: 22px;
      line-height: 24px;
      margin-bottom: 10px;
    }
    &__text {
      font-size: 15px;
      line-height: 17px;
    }
    &__bottom {
      margin-top: 15px;
      margin-bottom: 40px;
      text-align: center;
    }
  }

  .latest-articles {
    &__title {
      font-size: 17px;
      line-height: 19px;
    }
    &__bottom {
      margin-top: 15px;
      text-align: center;
    }
  }

  .top_responsive {
    padding: 5px 0;
  }

  .general-information {
    &__text {
      font-size: 16px;
    }
    &__paragraph {
      font-size: 1rem;
    }
  }

  .person {
    &__photo {
      display: block;
    }
  }

  .item-icon {
    &__information {
      font-size: 16px;
    }
    &__title {
      margin-bottom: 10px;
    }
  }

  .service {
    height: auto;
    &:hover {
      border: 0;
      box-shadow: none;
    }
    &__title {
      font-size: 16px;
      line-height: 18px;
    }
    &__text {
      line-height: 18px;
      height: auto;
    }
    &__photo {
      flex: 0 0 34%;
      max-width: 34%;
    }
    &__information {
      padding: 15px 15px 60px 15px;
      flex: 0 0 66%;
      max-width: 66%;
    }
    &__text {
      opacity: 1;
    }
    &__btn {
      font-size: 14px;
      opacity: 1;
      &::after {
        width: 26px;
        height: 23px;
      }
    }
    &:hover &__information {
      padding: 15px 15px 60px 15px;
    }
    &__price {
      font-size: 22px;
    }
  }

  .icons-advantages__item_testing {
    margin-bottom: 30px;
  }

  .necessary-services {
    &__group {
      padding: 30px 0 30px 0;
      &_testing {
        padding: 30px 0 0 0;
      }
    }
    &__title {
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 30px;
    }
    &__subtitle {
      font-size: 15px;
      &_testing {
        margin-bottom: 20px;
      }
    }
    &__list li {
      font-size: 14px;
    }
  }

  .copyright__link {
    display: block;
  }

  .service-category {
    padding: 75px 30px 75px 40px;
    height: auto;
  }

  .modal-default {
    &__content {
      padding: 40px 50px;
    }
  }

  .employee-card {
    height: 541px;
    &__information {
      height: 140px;
    }
    &__img {
      width: 100%;
    }
  }

}