@media (max-width: 767.98px) {
  .title-h1 {
    font-size: 42px;
    line-height: 44px;
  }
  .main-menu {
    display: none;
  }
  .main-slider {
    &__title {
      font-size: 62px;
      line-height: 69px;
      -webkit-text-stroke: 3px rgba(255, 255, 255, 0.1);
    }

    &__content {
      margin-top: 70px;
      height: auto;
    }

    &__item {
      &__text-picture {
        margin-bottom: 20px;
      }

      &_slide_1 .main-slider__active-picture {
        max-width: 400px;
      }

      &_slide_2 .main-slider__active-picture {
        max-width: 450px;
      }

      &_slide_3 .main-slider__active-picture {
        max-width: 570px;
        left: -70px;
      }

      &_slide_3 .main-slider__text-picture {
        margin-bottom: 20px;
      }

      &_slide_4 .main-slider__active-picture {
        max-width: 270px;
        right: -67px;
        bottom: 36px;
      }

      &_slide_5 .main-slider__active-picture {
        max-width: 400px;
        right: -70px;
        bottom: 60px;
      }

      &_slide_3 .main-slider__title {
        font-size: 33px;
        line-height: 40px;
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
      }
    }
  }

  .information-slide {
    &__paragraph {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 8px;
    }
  }

  .main-cases {
    &__top {
      margin-bottom: 30px;
    }

    &__title {
      margin-bottom: 13px;
      opacity: 1;
    }

    &__subtitle {
      max-width: 410px;
    }
  }

  .slider-cases {
    &__item {
      margin-bottom: 30px;
    }

    & .slick-slide {
      margin: 8px;
    }
  }
  .case-item {
    padding: 20px;
  }

  .main-territory {
    padding-bottom: 20px;
    background-image: none;

    &__map {
      display: none;

      &_mobile {
        display: block;
        padding: 0 15px;
        text-align: center;
      }
    }

    &__photo {
      margin-bottom: 60px;
    }
  }
  .territory-photo {
    &__img {
      width: 100%;
    }
  }

  .main-press {
    background-image: none;

  }

  .latest-news {
    &__item {
      height: 220px;
    }

    &__title {
      font-size: 20px;
      line-height: 22px;
      margin-bottom: 7px;
    }

    &__text {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .latest-articles {
    &__title {
      font-size: 16px;
      line-height: 18px;
    }
  }

  .footer {
    &__search {
      margin-top: 0;
      margin-bottom: 40px;
    }
  }

  .column-item {
    &__title {
      font-size: 24px;
      padding-bottom: 15px;
    }
  }

  .search-default {
    max-width: 100%;
  }

  .item-icon {
    justify-content: flex-start;
  }

  .cases {
    &__find {
      margin-top: 20px;
    }
  }

  .history {
    padding: 60px 0 170px;

    &__title {
      margin-bottom: 130px;
    }
  }


  .timeline {
    max-width: 100%;
    flex-direction: column;
    height: 900px;

    &::before {
      width: 3px;
      height: 950px;
      left: 50%;
      top: auto;
      transform: translateX(-50%);
    }

    &__item {
      width: 50%;
      height: 200px;
    }

    &__information {
      margin-left: 0;
      left: 0;
      width: 100%;
    }

    &__dot::before {
      width: 89px;
      height: 2px;
    }

    &__year {
      text-align: center;
    }

    &__text {
      margin-left: 0;
    }

    &__item_pos_bottom {
      justify-content: flex-end;
      transform: translate(-50%);
    }

    &__item_pos_bottom &__information {
      top: 10px;
    }

    &__item_pos_bottom &__dot {
      transform: translate(50%);
    }

    &__item_pos_bottom &__year {
      margin-bottom: 20px;
    }

    &__item_pos_bottom &__dot::before {
      left: -47px;
      top: 9px;
    }

    &__item_pos_bottom &__dot::after {
      left: -91px;
      top: 6px;
    }

    &__item_pos_bottom &__text {
      margin-right: 20px;
    }

    &__item_pos_top {
      justify-content: flex-start;
      transform: translate(50%);
    }

    &__item_pos_top &__information {
      top: 10px;
      bottom: 0;
      display: flex;
      flex-direction: column;
    }

    &__item_pos_top &__dot {
      transform: translate(-50%);
    }

    &__item_pos_top &__year {
      margin-top: 0;
      margin-bottom: 20px;
      order: 0;
    }

    &__item_pos_top &__text {
      order: 1;
      margin-left: 20px;
    }

    &__item_pos_top &__dot::before {
      left: 67px;
      top: 9px;
    }

    &__item_pos_top &__dot::after {
      left: 114px;
      top: 6px;
    }
  }

  .employee-card {
    height: 481px;
    &__information {
      height: 170px;
    }
  }

  .article {
    flex-direction: column;
    &__img-wrap {
      &_width_more {
        flex: 0 0 100%;
      }
    }

    &__date {
      font-size: 16px;
    }

    &__title {
      font-size: 22px;
    }

    &__body {
      padding: 28px 28px 28px 28px;
    }
    &:after {
      top: auto;
      bottom: 30px;
    }
  }

  .articles-head {
    &__title {
      font-size: 16px;
      padding: 18px 20px;
      &.nj-tabs__title_active {
        padding: 17px 20px;
      }
    }
  }

}