@media (max-width: 1199.98px) {
  h1 {
    font-size: 54px !important;
    line-height: 64px !important;
    margin-bottom: 24px !important;
  }

  .title-h2 {
    font-size: 42px;
    line-height: 48px;
  }
  .main-slider {
    &__active-picture {
      opacity: .5;
    }
    &__title {
      font-size: 100px;
      line-height: 110px;
      -webkit-text-stroke: 4px rgba(255, 255, 255, 0.1);
    }
    &__item {
      &_slide_3 .main-slider__title {
        font-size: 60px;
        line-height: 69px;
        -webkit-text-stroke: 3px rgba(255, 255, 255, 0.1);
      }
    }

  }

  .main-directions {
    padding-top: 80px;
    padding-bottom: 230px;
    &__planet {
      margin-top: -222px;
      left: 3%;
      width: 470px;
    }
    &__title {
      font-size: 80px;
      line-height: 84px;
      max-width: 620px;
    }
  }

  .direct-planet {
    &__item {
      &_1 {
        bottom: 110px;
        right: 55px;
      }
      &_2 {
        left: 130px;
        bottom: -5px;
      }
      &_3 {
        top: 20px;
        right: 130px;
      }
      &_4 {
        left: 20px;
        top: 180px;
      }
      &_5 {
        right: 15px;
        top: 20px;
      }
    }
  }

  .item-planet {
    width: 60px;
    height: 60px;
    &:hover, &.nj-tabs__title_active {
      width: 65px;
      height: 65px;
    }
  }

  .main-advantages {
    &__title {
      margin-bottom: 25px;
    }
    &__part-title {
      font-size: 32px;
      margin-bottom: 15px;
    }
  }

  .main-cases{
    &__active-picture {
      bottom: -11px;
      max-width: 500px;
      right: -190px;
    }
  }

  .map-cities {
    &__popup {
      top: 10px;
      max-width: 100%;
      margin-left: 15px;
      margin-right: 15px;
      right: 0;
    }
    &__svg {
      max-width: 100%;
    }
  }
  .popup-cities {
    &__header {
      padding: 15px 45px 15px 30px;
    }
    &__title {
      font-size: 24px;
      line-height: 26px;
    }
    &__body {
      display: flex;
      flex-wrap: wrap;
      margin-left: -10px;
      margin-right: -10px;
      padding: 20px 30px;
    }
    &__item {
      flex: 0 0 30%;
      width: 30%;
      margin: 0 10px 5px;
    }

  }
  .company-b {
    &__group {
      margin-bottom: 0;
    }
  }

  .latest-news {
    &__item {
      padding: 20px 15px;
      height: 215px;
    }
    &__title {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 6px;
    }
    &__text {
      max-height: 110px;
    }
  }

  .latest-articles {
    &__item {
      margin-bottom: 22px;
    }
    &__title {
      font-size: 16px;
      line-height: 18px;
    }
  }

  .footer-categories {
    &__item {
      margin-bottom: 20px;
    }
  }
  .column-item {
    &__title {
      max-width: 200px;
    }
  }

  .general-information {
    padding: 0 0 50px;
    &_theme_pre-footer{
      padding: 50px 0;
    }
    &__title {
      margin-bottom: 35px;
    }
    &__text {
      font-size: 15px;
    }
    &__paragraph {
      font-size: .9rem;
    }
    &__form {
      margin-top: 30px;
    }
  }
  .menu-services {
    font-size: 16px;
    line-height: 18px;
  }

  .popular-services {
    &__item {
      margin-bottom: 35px;
    }
  }

  .service {
    height: 165px;
    &__information {
      padding: 20px 15px 0 20px;
      position: relative;
    }
    &__price {
      font-size: 30px;
    }
    &__text {
      font-size: 14px;
      height: 43px;
    }
    &__bottom {
      padding: 0 20px 0 20px;
      height: 50px;
    }
    &:hover &__information {
      padding: 15px 15px 0 15px;
    }
    &__btn {
      top: 13px;
      padding-right: 15px;
      font-size: 15px;
      &::after {
        width: 28px;
        height: 25px;
        top: -2px;
      }
    }
  }

  .find {
    height: auto;
    padding: 20px;
    &__title {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 20px;
      &_margin_right {
        margin-right: 0;
      }
    }
    &__information {
      &_df {
        flex-direction: column;
      }
    }
  }

  .about-department, .popular-services {
    padding: 50px 0;
  }

  .icons-advantages{
    padding: 50px 0 0;
  }

  .necessary-services {
    &__group {
      padding: 30px 0 70px 0;
      &_testing {
        padding: 30px 0 0 0;
      }
    }
    &__title {
      font-size: 32px;
      line-height: 38px;
    }
    &__subtitle {
      font-size: 16px;
    }
  }
  .lab-documents {
    padding: 50px 0 20px;
    &__photos {
      margin-top: 40px;
    }
  }

  .service-category {
    padding: 75px 50px 0 35px;
    height: 480px;
  }

  .employee-card {
    height: 515px;
    &__information {
      height: 160px;
    }
  }

  .reviews {
    &__item {
      height: 300px;
    }
  }

  .article__title {
    font-size: 26px;
  }

}