@media (max-width: 1439.98px) {
  h1 {
    font-size: 72px !important;
    line-height: 82px !important;
    margin-bottom: 40px !important;
  }
  .main-slider {
    &__title {
      font-size: 129px;
      line-height: 130px;
    }
    &__item {
      &_slide_1 .main-slider__active-picture {
        max-width: 700px;
      }
      &_slide_2 .main-slider__active-picture {
        max-width: 700px;
        right: -167px;
        bottom: 134px;
      }
      &_slide_3 .main-slider__active-picture {
        max-width: 900px;
        left: 0;
      }
      &_slide_3 .main-slider__text-picture {
        margin-bottom: 70px;
      }
      &_slide_4 .main-slider__active-picture {
        max-width: 460px;
        right: -67px;
      }
      &_slide_4 .main-slider__text-picture {
        position: relative;
      }
      &_slide_5 .main-slider__active-picture {
        max-width: 700px;
        right: -30px;
      }
      &_slide_3 .main-slider__title {
        font-size: 70px;
        line-height: 75px;
      }
    }
  }

  .main-directions {
    &__planet {
      margin-top: -278px;
      left: 4%;
      width: 675px;
      max-width: 53%;
    }
  }

  .direct-planet {
    &__item_4 {
      left: 30px;
      top: 250px;
    }
  }

  .item-planet {
    width: 70px;
    height: 70px;
    &:hover, &.nj-tabs__title_active {
      width: 75px;
      height: 75px;
    }
  }

  .main-cases {
    &__active-picture {
      bottom: -11px;
      max-width: 500px;
    }
  }

  .map-cities {
    &__svg {
      max-width: 1050px;
    }
    &__popup {
      top: -75px;
    }
  }

  .popup-cities {
    &__header {
      padding: 15px 45px 15px 15px;
    }
    &__title {
      font-size: 22px;
      line-height: 26px;
    }
    &__close {
      width: 22px;
      height: 18px;
      top: 22px;
    }
    &__body {
      padding: 15px;
    }
    &__btn {
      padding: 6px 50px;
      margin-bottom: 0;
      font-size: 16px;
    }
  }
  .company-b {
    &__title {
      font-size: 16px;
      margin-bottom: 6px;
    }
    &__li {
      font-size: 14px;
    }
  }

  .latest-news {
    &__title {
      font-size: 24px;
      line-height: 16px;
    }
    &__text {
      font-size: 14px;
      line-height: 16px;
      max-height: 115px;
    }
  }

  .latest-articles {
    &__item {
      padding: 0 62px 0 20px;
      margin-bottom: 30px;
      height: 100px;
    }
    &__title {
      font-size: 17px;
      line-height: 19px;
    }
  }

  .current-service {
    padding: 20px 15px;
  }
  .menu-services {
    font-size: 16px;
    line-height: 18px;

  }

  .person {
    &__name {
      font-size: 16px;
      line-height: 18px;
    }
    &__department {
      font-size: 14px;
      line-height: 16px;
    }
    &__photo {
      flex-shrink: 1;
    }
    &__phone, &__email {
      font-size: 16px;
      padding-left: 25px;
    }
    &__phone::before {
      width: 34px;
      height: 32px;
      top: -3px;
      left: -7px;
    }
    &__email::before {
      width: 34px;
      height: 28px;
      top: -1px;
      left: -8px;
    }
  }

  .main-press {
    padding-bottom: 50px;
  }

  .necessary-services {
    &__title {
      font-size: 42px;
      line-height: 48px;
    }
  }

  .lab-documents {
    padding: 50px 0 20px;
    &__title {
      margin-bottom: 40px;
      font-size: 42px;
      line-height: 46px;
    }
  }

  .timeline {
    &__text {
      margin-left: -120px;
      max-width: 100%;
    }
    &__information {
      left: -22px;

    }
  }


}