.slider {
  &-partners, &-certificates, &-case, &-case-thmb  {
    opacity: 0;
    transition: opacity .3s ease-in-out;
    height: 0;
    &.slick-initialized {
      height: 100%;
      opacity: 1;
    }
    &__img {
      width: 100%;
    }
  }
  &-certificates {
    & .slick-slide {
      margin: 0 15px;
    }
    & .slick-list {
      margin-left: -15px;
      margin-right: -15px;
    }
    &__item {
      margin-top: 5px;
    }
  }

  &-case {
    & .slick-slide {
      margin: 3px 15px;
    }
    & .slick-list {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  &-case-thmb {
    & .slick-slide {
      margin: 3px 15px;
    }
    & .slick-list {
      margin-left: -14px;
      margin-right: -15px;
    }
    & .slick-slide.slick-current &__item {
      box-shadow: 0 0 0 3px #07A7D8;
    }
    &__item {
      cursor: pointer;
      height: 137px;
      & img {
        object-fit: cover;
        height: 100%;
        object-position: center;
      }
    }
  }
}

.slider-dots {
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
  text-align: center;
  & li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    & button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
      &::before {
        font-family: 'slick';
        font-size: 10px;
        @include textShadow($white);
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: '\2022';
        text-align: center;
        color: $white;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }
  & .slick-active button::before {
    color: $blue;
    @include textShadow($blue);
  }
}