.icons-advantages {
  background: #022C43;
  padding: 70px 0 10px;
  &_theme_darken {
    background: darken(#022C43, 2%);
  }
  &__item {
    margin-bottom: 60px;
  }
  &__title {
    margin-bottom: 60px;
    text-align: right;
    &_left {
      text-align: left;
    }
  }
}

.item-icon {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 18px;
  &__img {
    flex-shrink: 0;
    margin-right: 15px;
  }
  &__title {
    font-weight: bold;
    margin-bottom: 20px;
  }
  &__text {
    font-weight: 300;
    line-height: 20px;
  }
}