body.preloader {
  overflow: hidden;
  height: 100vh;
}

.preloader {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #05334B 0%, #042A40 51.56%, #021D31 100%);
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(0);
    opacity: 1;
    transition: .8s;
    &_hide {
      opacity: 0;
    }
    &_show {
      opacity: 1;
    }
  }
  &__svg-img {
    width: 260px;
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    background: linear-gradient(180deg, #05334B 0%, #021D31 100%);
    width: 100%;
    margin-top: 60px;
  }
  &__text {
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    &_animate {
      animation: flow 5s ease-in-out infinite;
      background: linear-gradient(-60deg, #FFF 40%, #349DD9 20%, #349DD9 60%, #FFF 80%);
      background-size: 300%;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &_blue {
      color: #349DD9;
    }
  }
  &__path {
    fill: #349DD9;
    &_el_2 {
      animation: load 3.1s ease-in-out infinite;
    }
    &_el_3 {
      animation: load 3.2s ease-in-out infinite;
    }
    &_el_4 {
      animation: load 3.3s ease-in-out infinite;
    }
  }
}

