<div class="about-department">
  <div class="container">
    <div class="about-department__spoiler spoiler">
      <div class="about-department__title title-h2">Подробнее об отделе</div>
      <p>Компания ООО НПЦ «Самара» проводит независимые и объективные экспертизы в бытовых и промышленных целях.
        Соответственно, такие экспертизы можно назвать промышленными и бытовыми. И промышленные, и бытовые экспертизы
        делятся на судебные и досудебные. ООО НПЦ «Самара» проводит как досудебные, так и судебные экспертизы.
        Экспертизы выполняют высококвалифицированные специалисты с опытом работы в этой сфере более 5 лет (у некоторых
        сотрудников есть уже более 10 лет опыта). Для проведения экспертиз сотрудники ООО НПЦ «Самара» используют
        собственную аккредитованную лабораторию, оснащенную всем необходимым оборудованием.</p>
      <p>Судебная экспертиза — это экспертиза, назначаемая судами. Обычно такую экспертизу назначают суды общей
        юрисдикции или арбитражные суды. Испытательная лаборатория ООО НПЦ «Самара» входит в перечень экспертных
        организаций, рекомендуемых Арбитражным судом Самарской области и НП «Коллегия судебных экспертов и экспертных
        организаций».</p>
      <div class="spoiler__shift-text">
        <p>Компания ООО НПЦ «Самара» проводит независимые и объективные экспертизы в бытовых и промышленных целях.
          Соответственно, такие экспертизы можно назвать промышленными и бытовыми. И промышленные, и бытовые экспертизы
          делятся на судебные и досудебные. ООО НПЦ «Самара» проводит как досудебные, так и судебные экспертизы.
          Экспертизы выполняют высококвалифицированные специалисты с опытом работы в этой сфере более 5 лет (у некоторых
          сотрудников есть уже более 10 лет опыта). Для проведения экспертиз сотрудники ООО НПЦ «Самара» используют
          собственную аккредитованную лабораторию, оснащенную всем необходимым оборудованием.</p>
        <p>Компания ООО НПЦ «Самара» проводит независимые и объективные экспертизы в бытовых и промышленных целях.
          Соответственно, такие экспертизы можно назвать промышленными и бытовыми. И промышленные, и бытовые экспертизы
          делятся на судебные и досудебные. ООО НПЦ «Самара» проводит как досудебные, так и судебные экспертизы.
          Экспертизы выполняют высококвалифицированные специалисты с опытом работы в этой сфере более 5 лет (у некоторых
          сотрудников есть уже более 10 лет опыта). Для проведения экспертиз сотрудники ООО НПЦ «Самара» используют
          собственную аккредитованную лабораторию, оснащенную всем необходимым оборудованием.</p>
      </div>
      <a href="#" class="spoiler__btn">Читать полностью</a>
    </div>
  </div>
</div>