<div class="case">

	<div class="container">
		<h1>Кейс</h1>

		<div class="row">
			<div class="col-lg-6 order-1 order-lg-0">
				<div class="case__information">
					<p><strong>ЦЕЛЬ:</strong><br>
						Определение причин образования сквозного повреждения	трубы	Ø159х8 при эксплуатации на линии нефтесборного коллектора</p>
					<br>
					<p><strong>ПРИЧИНА:</strong><br>
						Причиной образования сквозного повреждения металла трубы является установка втулки защиты сварного стыка
						без применения герметизирующего материала. Разрушение металла происходит под действием коррозионных
						процессов по механизму углекислотной коррозии, усугублённой наличием в транспортируемой среде сероводорода и
						ионов хлора. При этом, внутреннее антикоррозионное покрытие не имеет производственных и эксплуатационных
						дефектов и обладает высокими показателями адгезионной прочности.</p>
					<br>
					<p><strong>ВЫВОД:</strong><br>
						Определение причин образования сквозного повреждения	трубы	Ø159х8 при эксплуатации на линии нефтесборного коллектора</p>
					<br>
					<p><strong>РЕЗУЛЬТАТ:</strong></p>
					<div class="default-list">
						<li>Проведены претензионно-исковые работы по отношению к Подрядной Организации</li>
						<li>Предприняты меры по недопущению аналогичных случаев.</li>
						<li>Проведены дополнительные инструктажи</li>
						<li>Повышение качества СМР</li>
						<li>Снижение аварийности</li>
					</div>
					<br>
				</div>

				<div class="case__pagination pagination-block">
					<div class="pagination-block__arrows">
						<a href="" class="pagination-block__prev pagination-block__btn pagination-block__btn_opacity"></a>
						<a href="" class="pagination-block__next pagination-block__btn"></a>
					</div>

					<div class="pagination-block__count">Следующий кейс</div>
				</div>
			</div>
			<div class="col-lg-6 order-0 order-lg-1">
				<div class="case__slider">
					<div class="slider-case zoom-photo">
						<div class="slider-case__item zoom-photo__item">
							<a href="../images/caseid-1.jpg" data-fancybox="case" class="slider-case__fancy fancy">
								<span class="zoom-photo__shadow"></span>
								<img src="../img/caseid-1.jpg" alt="" class="img-fluid slider-case__img">
							</a>
						</div>
						<div class="slider-case__item zoom-photo__item">
							<a href="../images/caseid-1.jpg" data-fancybox="case" class="slider-case__fancy fancy">
								<span class="zoom-photo__shadow"></span>
								<img src="../img/caseid-1.jpg" alt="" class="img-fluid slider-case__img">
							</a>
						</div>
						<div class="slider-case__item zoom-photo__item">
							<a href="../images/caseid-1.jpg" data-fancybox="case" class="slider-case__fancy fancy">
								<span class="zoom-photo__shadow"></span>
								<img src="../img/caseid-1.jpg" alt="" class="img-fluid slider-case__img">
							</a>
						</div>
						<div class="slider-case__item zoom-photo__item">
							<a href="../images/caseid-1.jpg" data-fancybox="case" class="slider-case__fancy fancy">
								<span class="zoom-photo__shadow"></span>
								<img src="../img/caseid-1.jpg" alt="" class="img-fluid slider-case__img">
							</a>
						</div>
						<div class="slider-case__item zoom-photo__item">
							<a href="../images/caseid-1.jpg" data-fancybox="case" class="slider-case__fancy fancy">
								<span class="zoom-photo__shadow"></span>
								<img src="../img/caseid-1.jpg" alt="" class="img-fluid slider-case__img">
							</a>
						</div>
					</div>

					<div class="slider-case-thmb">
						<div class="slider-case-thmb__item">
							<img src="../img/caseid-1.jpg" alt="" class="img-fluid slider-case-thmb__img">
						</div>
						<div class="slider-case-thmb__item">
							<img src="../img/caseid-1.jpg" alt="" class="img-fluid slider-case-thmb__img">
						</div>
						<div class="slider-case-thmb__item">
							<img src="../img/caseid-1.jpg" alt="" class="img-fluid slider-case-thmb__img">
						</div>
						<div class="slider-case-thmb__item">
							<img src="../img/caseid-1.jpg" alt="" class="img-fluid slider-case-thmb__img">
						</div>
						<div class="slider-case-thmb__item">
							<img src="../img/caseid-1.jpg" alt="" class="img-fluid slider-case-thmb__img">
						</div>
					</div>
				</div>

			</div>
		</div>


	</div>

</div>
