<div class="popular-services cases">
  <div class="container">
    <div class="popular-services__title title-h2">Кейсы</div>
    <div class="row">
      <div class="col-lg-6">
        <a  href="#" class="cases__item case-static">
          <div class="case-static__photo"><img src="../img/case-1.jpg" alt="" class="case-static__img img-fluid"></div>
          <div class="case-static__information">
            <div class="case-static__text">
              <p><strong>Цель:</strong></p>
              <p><strong>1.</strong> Определение соответствия металла фрагментов трубы требованиям ТУ и данным сертификата качества.</p>
              <p><strong>2.</strong> Определение причин разрушения металла трубы магистрального газопровода.</p>
              <p><strong>Причина:</strong> Нетипичный механический дефект на внутренней поверхности.</p>
              <p><strong>Вывод:</strong> Дефект на внутренней поверхности, усугубленный при проведении операции снятия усиления
                внутреннего шва.</p>
              <p><strong>Результат:</strong> Проведена внутритрубная диагностика, обнаружены участки с аналогичными дефектами. Проведены
                своевременные ремонтные работы.</p>
              <p>Результатом работы будет протокол фрактографического исследования с выводами.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <a  href="#" class="cases__item case-static">
          <div class="case-static__photo"><img src="../img/case-1.jpg" alt="" class="case-static__img img-fluid"></div>
          <div class="case-static__information">
            <div class="case-static__text">
              <p><strong>Цель:</strong></p>
              <p><strong>1.</strong> Определение соответствия металла фрагментов трубы требованиям ТУ и данным сертификата качества.</p>
              <p><strong>2.</strong> Определение причин разрушения металла трубы магистрального газопровода.</p>
              <p><strong>Причина:</strong> Нетипичный механический дефект на внутренней поверхности.</p>
              <p><strong>Вывод:</strong> Дефект на внутренней поверхности, усугубленный при проведении операции снятия усиления
                внутреннего шва.</p>
              <p><strong>Результат:</strong> Проведена внутритрубная диагностика, обнаружены участки с аналогичными дефектами. Проведены
                своевременные ремонтные работы.</p>
              <p>Результатом работы будет протокол фрактографического исследования с выводами.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="cases__find find find_small">
      <div class="find__information find__information_df">
        <div class="find__title find__title_margin_right">Ознакомьтесь с другими нашими работами</div>
        <a href="#" class="find__btn_margin_none btn-link-default btn-link-default_v3 btn-link-default_longer">Ещё кейсы</a>
      </div>
    </div>
  </div>
</div>