<div class="certificates">
  <div class="container">
    <div class="certificates__title title-h2">Сертификаты</div>
    <div class="certificates__subtitle">ООО НПЦ «Самара» является авторизованным сервисным центром ведущих производителей газоаналитического оборудования.</div>
    <div class="certificates__slider slider-certificates">
      <div class="slider-partners__item slider-partners__item_margin"><img src="../img/sertifikat_02.jpg" alt="" class="img-fluid slider-partners__img"></div>
      <div class="slider-partners__item slider-partners__item_margin"><img src="../img/sertifikat_02.jpg" alt="" class="img-fluid slider-partners__img"></div>
      <div class="slider-partners__item slider-partners__item_margin"><img src="../img/sertifikat_02.jpg" alt="" class="img-fluid slider-partners__img"></div>
      <div class="slider-partners__item slider-partners__item_margin"><img src="../img/sertifikat_02.jpg" alt="" class="img-fluid slider-partners__img"></div>
      <div class="slider-partners__item slider-partners__item_margin"><img src="../img/sertifikat_02.jpg" alt="" class="img-fluid slider-partners__img"></div>
      <div class="slider-partners__item slider-partners__item_margin"><img src="../img/sertifikat_02.jpg" alt="" class="img-fluid slider-partners__img"></div>
      <div class="slider-partners__item slider-partners__item_margin"><img src="../img/sertifikat_02.jpg" alt="" class="img-fluid slider-partners__img"></div>
      <div class="slider-partners__item slider-partners__item_margin"><img src="../img/sertifikat_02.jpg" alt="" class="img-fluid slider-partners__img"></div>
      <div class="slider-partners__item slider-partners__item_margin"><img src="../img/sertifikat_02.jpg" alt="" class="img-fluid slider-partners__img"></div>
      <div class="slider-partners__item slider-partners__item_margin"><img src="../img/sertifikat_02.jpg" alt="" class="img-fluid slider-partners__img"></div>
      <div class="slider-partners__item slider-partners__item_margin"><img src="../img/sertifikat_02.jpg" alt="" class="img-fluid slider-partners__img"></div>
      <div class="slider-partners__item slider-partners__item_margin"><img src="../img/sertifikat_02.jpg" alt="" class="img-fluid slider-partners__img"></div>
      <div class="slider-partners__item slider-partners__item_margin"><img src="../img/sertifikat_02.jpg" alt="" class="img-fluid slider-partners__img"></div>
    </div>
  </div>
</div>