<div class="certificates">
  <div class="container">
    <div class="certificates__title title-h2">Сертификаты</div>
    <div class="certificates__subtitle">ООО НПЦ «Самара» является авторизованным сервисным центром ведущих производителей газоаналитического оборудования.</div>
    <div class="certificates__slider slider-certificates zoom-photo">
      <div class="slider-certificates__item zoom-photo__item">
        <a href="../images/sertifikat_02.jpg" data-fancybox="certificates" class="slider-certificates__fancy fancy">
          <span class="zoom-photo__shadow"></span>
          <img src="../img/sertifikat_02.jpg" alt="" class="img-fluid slider-partners__img">
        </a>
      </div>
      <div class="slider-certificates__item zoom-photo__item">
        <a href="../images/sertifikat_02.jpg" data-fancybox="certificates" class="slider-certificates__fancy fancy">
          <span class="zoom-photo__shadow"></span>
          <img src="../img/sertifikat_02.jpg" alt="" class="img-fluid slider-partners__img">
        </a>
      </div>
      <div class="slider-certificates__item zoom-photo__item">
        <a href="../images/sertifikat_02.jpg" data-fancybox="certificates" class="slider-certificates__fancy fancy">
          <span class="zoom-photo__shadow"></span>
          <img src="../img/sertifikat_02.jpg" alt="" class="img-fluid slider-partners__img">
        </a>
      </div>
      <div class="slider-certificates__item zoom-photo__item">
        <a href="../images/sertifikat_02.jpg" data-fancybox="certificates" class="slider-certificates__fancy fancy">
          <span class="zoom-photo__shadow"></span>
          <img src="../img/sertifikat_02.jpg" alt="" class="img-fluid slider-partners__img">
        </a>
      </div>
      <div class="slider-certificates__item zoom-photo__item">
        <a href="../images/sertifikat_02.jpg" data-fancybox="certificates" class="slider-certificates__fancy fancy">
          <span class="zoom-photo__shadow"></span>
          <img src="../img/sertifikat_02.jpg" alt="" class="img-fluid slider-partners__img">
        </a>
      </div>
      <div class="slider-certificates__item zoom-photo__item">
        <a href="../images/sertifikat_02.jpg" data-fancybox="certificates" class="slider-certificates__fancy fancy">
          <span class="zoom-photo__shadow"></span>
          <img src="../img/sertifikat_02.jpg" alt="" class="img-fluid slider-partners__img">
        </a>
      </div>
      <div class="slider-certificates__item zoom-photo__item">
        <a href="../images/sertifikat_02.jpg" data-fancybox="certificates" class="slider-certificates__fancy fancy">
          <span class="zoom-photo__shadow"></span>
          <img src="../img/sertifikat_02.jpg" alt="" class="img-fluid slider-partners__img">
        </a>
      </div>
    </div>
  </div>
</div>