<div class="contacts">
  <div class="container">
    <h1>Контакты</h1>
    <div class="map">
      <div class="map__yamap" id="map"></div>
    </div>

    <div class="row">
      <div class="col-xl-7">
        <div class="contacts__data contacts-information">
          <div class="contacts-information__title">ООО «Научно-производственный центр «Самара»</div>
          <div class="contacts-information__item contacts-information__item_adr">443022, г. Самара, Гаражный проезд, 3 «E»</div>
          <div class="contacts-information__item contacts-information__item_phone">
            <a href="tel:88469320323" class="contacts-information__link">8 (846) 932-03-23</a>
          </div>
          <div class="contacts-information__item contacts-information__item_email">
            <a href="mailto:office@npcsamara.ru" class="contacts-information__link">office@npcsamara.ru</a>
          </div>
          <div class="contacts-information__item contacts-information__item_time">Пн.-Пт.: 9.00-18.00</div>
          <br><br>
          <div class="contacts-information__title">Бухгалтерия:</div>
          <div class="contacts-information__item contacts-information__item_phone">
            <a href="tel:88462120264" class="contacts-information__link">8 (846) 212-02-64</a>
          </div>
          <div class="contacts-information__item contacts-information__item_phone">
            <a href="tel:88469225002" class="contacts-information__link">8 (846) 922-50-02</a>
          </div>
        </div>

        <div class="contacts__requisites requisites spoiler-pure">
          <div class="requisites__title spoiler-pure__btn">Посмотреть реквезиты</div>
          <div class="requisites__content spoiler-pure__content">
            <p><strong>Полное наименование предприятия:</strong><br> Общество с ограниченной ответственностью «Научно-производственный центр «Самара»</p>
            <p><strong>Сокращенное наименование предприятия:</strong><br> ООО «НПЦ «Самара»</p>
            <p><strong>Юридический адрес:</strong><br> 443001, Самарская область, г. Самара, ул. Ульяновская/Ярмарочная, д. 52/55</p>
            <p><strong>Фактический адрес:</strong><br> 443022, Самарская область, г. Самара, Гаражный проезд 3, литера Е</p>
            <p><strong>ИНН / КПП:</strong><br> 6315644899/631501001</p>
            <p><strong>Телефон:</strong><br> 8 (846) 932-03-23</p>
            <p><strong>Факс:</strong><br> 8 (846) 932-03-23</p>
            <p><strong>Электронная почта организации:</strong><br> office@npcsamara.ru</p>
            <p><strong>Сайт:</strong><br> http://npcsamara.ru</p>
            <p><strong>Первый руководитель организации:</strong><br> Управляющий, действующий на основании Устава: Максимук Андрей Викторович</p>
            <p><strong>Главный бухгалтер:</strong><br> Почтарь Виктор Васильевич</p>
            <p><strong>Форма собственности:</strong><br> частная</p>
            <p><strong>Дата регистрации, ОГРН:</strong><br>24.07.2012, ОГРН 1126315004122</p>
            <p><strong>Место регистрации:</strong><br>Инспекция Федеральной налоговой службы по Ленинскому району г. Самары</p>
            <p><strong>Банковские реквизиты:</strong><br> Р/с 40702810229180002969 в Филиал "Нижегородский" АО "АЛЬФА-БАНК"<br> к/с 30101810200000000824<br> БИК 042202824"<br> ОКВЭД 73.10., 74.20.2</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="contacts-information">
          <div class="contacts-information__title">Вы можете связаться с нами
            по интересующим Вас вопросам:</div>

          <div class="contacts-information__person person person_flex_wrap">
            <div class="person__photo">
              <img src="../img/maksimuk.jpg" alt="" class="person__img img-fluid">
            </div>
            <div class="person__info">
              <div class="person__name">Максимук Андрей Викторович</div>
              <div class="person__department">Управляющий</div>
              <a href="tel:89270111050" class="person__phone">8 (927) 0-111-050</a>
              <a href="mailto:maximuk@npcsamara.ru" class="person__email">maximuk@npcsamara.ru</a>
            </div>
            <div class="person__text">
              Решение стратегических вопросов, договорные обязательства, финансово-экономическая деятельность.
            </div>
          </div>
          <div class="contacts-information__person person person_flex_wrap">
            <div class="person__photo">
              <img src="../img/yudin.jpg" alt="" class="person__img img-fluid">
            </div>
            <div class="person__info">
              <div class="person__name">Юдин Павел Евгеньевич</div>
              <div class="person__department">Директор по науке, к.т.н.</div>
              <a href="tel:88469900953" class="person__phone">8 (846) 99-00-963</a>
              <a href="mailto:yudin@npcsamara.ru" class="person__email">yudin@npcsamara.ru</a>
            </div>
            <div class="person__text">
              Оценка и развитие технологий и качества применяемых в нефте-газовой отрасли
              изделий и материалов, методов контроля, научно-исследовательские работы.
            </div>
          </div>
          <div class="contacts-information__person person person_flex_wrap">
            <div class="person__photo">
              <img src="../img/varevkin.jpg" alt="" class="person__img img-fluid">
            </div>
            <div class="person__info">
              <div class="person__name">Веревкин Александр Григорьевич</div>
              <div class="person__department">Директор по развитию,  к.х.н.</div>
              <a href="tel:89376503571" class="person__phone">8 (937) 650-35-71</a>
              <a href="tel:88469320323 " class="person__phone">8 (846) 932-03-23 </a>
              <a href="mailto:verevkin@npcsamara.ru" class="person__email">verevkin@npcsamara.ru</a>
            </div>
            <div class="person__text">
              Предложения по вопросам сотрудничества и продвижения, перспективные
              направления деятельности, оценка и формирование рынка, перспективные тематики отрасли.
            </div>
          </div>
          <div class="contacts-information__person person person_flex_wrap">
            <div class="person__photo">
              <img src="../img/malyshiva.jpg" alt="" class="person__img img-fluid">
            </div>
            <div class="person__info">
              <div class="person__name">Малышева Зарина</div>
              <div class="person__department">Офис-менеджер</div>
              <a href="tel:88469320323" class="person__phone">8 (846) 932-03-23</a>
              <a href="mailto:office@npcsamara.ru" class="person__email">office@npcsamara.ru</a>
            </div>
            <div class="person__text">
              Организационные вопросы.
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
