<button class="current-service-btn">Другие услуги</button>

<div class="current-service current-service_fixed">
  <div class="current-service__close"></div>
  <ul class="current-service__menu menu-services">
    <li class="menu-services__item"><a href="#" class="menu-services__link menu-services__link_active">Испытательная лаборатория</a></li>
    <li class="menu-services__item"><a href="#" class="menu-services__link">Аналитический отдел</a></li>
    <li class="menu-services__item"><a href="#" class="menu-services__link">Отдел инспекционного контроля и коррозионного мониторинга</a></li>
    <li class="menu-services__item"><a href="#" class="menu-services__link">Отдел метрологии</a></li>
    <li class="menu-services__item"><a href="#" class="menu-services__link">Технический отдел</a></li>
  </ul>
  <div class="current-service__person person">
    <div class="person__photo">
      <img src="../img/person1.png" alt="" class="person__img img-fluid">
    </div>
    <div class="person__info">
      <div class="person__name">Добрикова Марина Александровна</div>
      <div class="person__department">Начальник лаборатории, К.Х.Н.</div>
      <a href="#" class="person__phone">8 (846) 932-03-23</a>
      <a href="#" class="person__email">dobrikova@npcsamara.ru</a>
    </div>
  </div>
</div>