<div class="services-category">
  <div class="container">
    <h1>Услуги</h1>
    <div class="services-category__group">
      <div class="row">
        <div class="col-lg-6">
          <a href="" class="services-category__item service-category">
            <div class="service-category__title">Испытательная лаборатория:</div>
            <ul class="service-category__list default-list default-list_margin_bottom">
              <li>Определение химического состава металлов</li>
              <li>Измерение твердости металла HB</li>
              <li>Фрактографический анализ</li>
            </ul>
          </a>
        </div>
        <div class="col-lg-6">
          <a href="" class="services-category__item service-category">
            <div class="service-category__title">Отдел метрологии:</div>
            <ul class="service-category__list default-list default-list_margin_bottom">
              <li>Поверка оборудования с выдачей сертификата</li>
              <li>Ремонт газоаналитического оборудования</li>
              <li>Калибровка газоаналитического оборудования</li>
            </ul>
          </a>
        </div>
        <div class="col-lg-6">
          <a href="" class="services-category__item service-category">
            <div class="service-category__title">Аналитический отдел:</div>
            <ul class="service-category__list default-list default-list_margin_bottom">
              <li>Проведение судебной и досудебной экспертизы</li>
              <li>Выявление причин преждевременного отказа оборудования</li>
              <li>Разработка уникальных методик испытания материалов</li>
            </ul>
          </a>
        </div>
        <div class="col-lg-6">
          <a href="" class="services-category__item service-category">
            <div class="service-category__title">Технический отдел:</div>
            <ul class="service-category__list default-list default-list_margin_bottom">
              <li>Производство научно-исследовательского и другого оборудования.</li>
              <li>Разработка и проектирование опытных образцов нестандартного, уникального оборудования. </li>
              <li>Модернизация лабораторного, испытательного, и другого оборудования. </li>
            </ul>
          </a>
        </div>
        <div class="col-lg-6">
          <a href="" class="services-category__item service-category">
            <div class="service-category__title">Отдел инспекционного контроля и коррозионного мониторинга:</div>
            <ul class="service-category__list default-list default-list_margin_bottom">
              <li>Инспекционный контроль за изготовлением трубной продукции и нефтепромыслового оборудования, а также за нанесением антикоррозионных и других видов покрытий</li>
              <li>Инжиниринговое сопровождение опытно-промышленных испытаний</li>
              <li>Проведение аудитов заводов-изготовителей и производственных площадок</li>
            </ul>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>