<div class="general-information">
  <div class="container">
    <div class="row">

      <div class="col-lg-7 col-xl-6">
        <h1>О КОМПАНИИ</h1>
        <div class="general-information__text">
          <p>ООО «Научно-производственный центр «Самара» основано в 2005, основная сфера деятельности организации –
            работы, связанные с исследованиями в области защиты от коррозии элементов ТЭК (скважинное оборудование,
            линейные трубопроводы, емкостной парк и т.д.).</p>
          <p>Лаборатория НПЦ «Самара» аккредитована в соответствии с требованиями ГОСТ ИСО/МЭК 17025-2009, оснащена
            современным поверенным оборудованием, позволяющим производить измерения согласно области аккредитации.</p>
          <p>Также на базе ООО «НПЦ «Самара» действует метрологическая лаборатория по комплексному обслуживанию средств
            измерений.</p>
          <p>Штат организации состоит из высококвалифицированных специалистов, кандидатов химических,
            физико-математических, технических и экономических наук. В общей сложности сотрудниками НПЦ «Самара»
            опубликовано более 100 научных статей, получено более 10 патентов, издан учебник и монография.</p>
          <p>Сотрудники постоянно принимают участие в научных конференциях, расширяя свой кругозор и внедряя на
            предприятии инновационные методы исследований.</p>
          <p>Индивидуальный подход к каждому клиенту позволяет решать самые сложные задачи.</p>
        </div>
      </div>
      <div class="col-lg-5 col-xl-6 d-none d-lg-block">
        <div class="general-information__photo"><img src="../img/otkritiy_ofis.jpg" alt="" class="general-information__img img-fluid"></div>
      </div>

    </div>
  </div>
</div>