<div class="general-information">
  <div class="container">
    <div class="row">

      <div class="col-lg-8">
        <h1>Испытательная лаборатория</h1>
        <div class="general-information__text">
          <p class="general-information__paragraph">
            Испытательная лаборатория ООО НПЦ «Самара» начала свою работу в
            2011 году. Лаборатория полностью укомплектована современными поверенными средствами измерений и
            аттестованным испытательным оборудованием, необходимыми для проведения всех заявленных видов лабораторных
            работ в области аккредитации.
          </p>
          <p class="general-information__paragraph">
            Основной персонал Испытательной лаборатории составляют специалисты с опытом работы более 5 лет, которые для
            обеспечения высокого уровня проведения испытаний регулярно проходят обучение и повышают свою квалификации.
          </p>
          <p class="general-information__paragraph">
            Испытательная лаборатория гарантирует свою объективность, независимость и беспристрастность при проведении
            испытаний, а также точность и достоверность результатов!
          </p>
        </div>
      </div>

      <div class="col-lg-4 mt-3 d-none d-lg-block">
        <div class="current-service">
          <ul class="current-service__menu menu-services">
            <li class="menu-services__item"><a href="#" class="menu-services__link menu-services__link_active">Испытательная лаборатория</a></li>
            <li class="menu-services__item"><a href="#" class="menu-services__link">Аналитический отдел</a></li>
            <li class="menu-services__item"><a href="#" class="menu-services__link">Отдел инспекционного контроля и коррозионного мониторинга</a></li>
            <li class="menu-services__item"><a href="#" class="menu-services__link">Отдел метрологии</a></li>
            <li class="menu-services__item"><a href="#" class="menu-services__link">Технический отдел</a></li>
          </ul>

          <div class="current-service__person person">
            <div class="person__photo">
                <img src="../img/person1.png" alt="" class="person__img img-fluid">
            </div>
            <div class="person__info">
              <div class="person__name">Добрикова Марина Александровна2</div>
              <div class="person__department">Начальник лаборатории, К.Х.Н.</div>
              <a href="#" class="person__phone">8 (846) 932-03-23</a>
              <a href="#" class="person__email">dobrikova@npcsamara.ru</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>