<div class="icons-advantages">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="icons-advantages__item item-icon">
          <img src="../img/icons/icon-1.svg" alt="" class="item-icon__img">
          <div class="item-icon__information">
            <div class="item-icon__title">Решим любой вопрос</div>
            <div class="item-icon__text">Готовы разработать и провести нестандартные испытания – под любые Ваши требования</div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="icons-advantages__item item-icon">
          <img src="../img/icons/icon-2.svg" alt="" class="item-icon__img">
          <div class="item-icon__information">
            <div class="item-icon__title">Открытость испытаний</div>
            <div class="item-icon__text">Вы можете присутствовать на испытаниях во время их проведения</div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="icons-advantages__item item-icon">
          <img src="../img/icons/icon-3.svg" alt="" class="item-icon__img">
          <div class="item-icon__information">
            <div class="item-icon__title">Быстрое начало испытаний</div>
            <div class="item-icon__text">Начало работы с образцами продукции на следующий день после их получения</div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="icons-advantages__item item-icon">
          <img src="../img/icons/icon-4.svg" alt="" class="item-icon__img">
          <div class="item-icon__information">
            <div class="item-icon__title">Доступность результатов</div>
            <div class="item-icon__text">Вы можете получить от нас протоколы на любой стадии проведения испытаний</div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="icons-advantages__item item-icon">
          <img src="../img/icons/icon-5.svg" alt="" class="item-icon__img">
          <div class="item-icon__information">
            <div class="item-icon__title">Информационная поддержка</div>
            <div class="item-icon__text">Консультация, предоставление информации по запросу, помощь в формировании Технического задания для получения достоверных результатов</div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="icons-advantages__item item-icon">
          <img src="../img/icons/icon-6.svg" alt="" class="item-icon__img">
          <div class="item-icon__information">
            <div class="item-icon__title">Аккредитация ФСА и Транснефть</div>
            <div class="item-icon__text">Полная легитимность выданных документов</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>