<div class="lab-documents">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="title-h2 lab-documents__title">Документы, подтверждающие компетентность лаборатории</div>
        <div class="lab-documents__text">В Испытательной лаборатории ООО НПЦ «Самара» внедрена система в соответствии с
          требованиями международного стандарта ГОСТ ISO/IEC 17025-2019. Компетентность лаборатории подтверждена
          Федеральной службой по аккредитации в соответствии с действующим законодательством Российской Федерации по
          аккредитации. В 2017 году лаборатория была включена в реестр испытательных центров ПАО «НИИ Транснефть». Ниже
          представлены документы, подтверждающие компетентность нашей лаборатории.
        </div>
      </div>
      <div class="col-xl-6">
        <div class="lab-documents__photos zoom-photo">
          <div class="row text-center">
            <div class="col-6 col-sm-6">
              <a href="../images/npcsamara-sm.jpg"
                 class="zoom-photo__item"
                 data-fancybox="documents"
                 data-caption="
                   <h3>Название фото</h3>
                   <p>Описание и много текста</p>">
                <span class="zoom-photo__shadow"></span>
                <img src="../img/npcsamara-sm.jpg" alt="" class="zoom-photo__img img-fluid">
              </a>
            </div>
            <div class="col-6 col-sm-6">
              <a href="../images/npcsamara-sm.jpg"
                 class="zoom-photo__item"
                 data-fancybox="documents"
                 data-caption="
                   <h3>Название фото</h3>
                   <p>Описание и много текста</p>">
                <span class="zoom-photo__shadow"></span>
                <img src="../img/npcsamara-sm.jpg" alt="" class="zoom-photo__img img-fluid">
              </a>
            </div>
            <div class="col-6 col-sm-6">
              <a href="../images/npcsamara-sm.jpg"
                 class="zoom-photo__item"
                 data-fancybox="documents"
                 data-caption="
                   <h3>Название фото</h3>
                   <p>Описание и много текста</p>">
                <span class="zoom-photo__shadow"></span>
                <img src="../img/npcsamara-sm.jpg" alt="" class="zoom-photo__img img-fluid">
              </a>
            </div>
            <div class="col-6 col-sm-6">
              <a href="../images/npcsamara-sm.jpg"
                 class="zoom-photo__item"
                 data-fancybox="documents"
                 data-caption="
                   <h3>Название фото</h3>
                   <p>Описание и много текста</p>">
                <span class="zoom-photo__shadow"></span>
                <img src="../img/npcsamara-sm.jpg" alt="" class="zoom-photo__img img-fluid">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>