<div class="examples">
  <div class="container">
    <div class="examples__title title-h2">Наши работы</div>
    <div class="examples__subtitle">На текущий момент реализовано более 200 проектов:</div>
    <div class="examples__gallery grid row mt-3">
      <div class="grid-item grid__item col-6 col-lg-3">
        <div class="examples__item example zoom-photo">
          <a href="../images/ex-01.jpg" class="zoom-photo__item" data-fancybox="examples">
            <span class="zoom-photo__shadow"></span>
            <img src="../img/examples/ex-01.jpg" alt="" class="zoom-photo__img img-fluid">
          </a>
        </div>
        <div class="examples__item example zoom-photo">
          <a href="../images/ex-02.jpg" class="zoom-photo__item" data-fancybox="examples">
            <span class="zoom-photo__shadow"></span>
            <img src="../img/examples/ex-02.jpg" alt="" class="zoom-photo__img img-fluid">
          </a>
        </div>
        <div class="examples__item example zoom-photo">
          <a href="../images/ex-03.jpg" class="zoom-photo__item" data-fancybox="examples">
            <span class="zoom-photo__shadow"></span>
            <img src="../img/examples/ex-03.jpg" alt="" class="zoom-photo__img img-fluid">
          </a>
        </div>
      </div>
      <div class="grid-item grid__item col-6 col-lg-3">
        <div class="examples__item example zoom-photo">
          <a href="../images/ex-04.jpg" class="zoom-photo__item" data-fancybox="examples">
            <span class="zoom-photo__shadow"></span>
            <img src="../img/examples/ex-04.jpg" alt="" class="zoom-photo__img img-fluid">
          </a>
        </div>
        <div class="examples__item example zoom-photo">
          <a href="../images/ex-07.jpg" class="zoom-photo__item" data-fancybox="examples">
            <span class="zoom-photo__shadow"></span>
            <img src="../img/examples/ex-07.jpg" alt="" class="zoom-photo__img img-fluid">
          </a>
        </div>
        <div class="examples__item example zoom-photo">
          <a href="../images/ex-02.jpg" class="zoom-photo__item" data-fancybox="examples">
            <span class="zoom-photo__shadow"></span>
            <img src="../img/examples/ex-02.jpg" alt="" class="zoom-photo__img img-fluid">
          </a>
        </div>
      </div>
      <div class="grid-item grid__item col-6 col-lg-3">
        <div class="examples__item example zoom-photo">
          <a href="../images/ex-03.jpg" class="zoom-photo__item" data-fancybox="examples">
            <span class="zoom-photo__shadow"></span>
            <img src="../img/examples/ex-03.jpg" alt="" class="zoom-photo__img img-fluid">
          </a>
        </div>
        <div class="examples__item example zoom-photo">
          <a href="../images/ex-02.jpg" class="zoom-photo__item" data-fancybox="examples">
            <span class="zoom-photo__shadow"></span>
            <img src="../img/examples/ex-02.jpg" alt="" class="zoom-photo__img img-fluid">
          </a>
        </div>
        <div class="examples__item example zoom-photo">
          <a href="../images/ex-11.jpg" class="zoom-photo__item" data-fancybox="examples">
            <span class="zoom-photo__shadow"></span>
            <img src="../img/examples/ex-11.jpg" alt="" class="zoom-photo__img img-fluid">
          </a>
        </div>
      </div>
      <div class="grid-item grid__item col-6 col-lg-3">
        <div class="examples__item example zoom-photo">
          <a href="../images/ex-01.jpg" class="zoom-photo__item" data-fancybox="examples">
            <span class="zoom-photo__shadow"></span>
            <img src="../img/examples/ex-01.jpg" alt="" class="zoom-photo__img img-fluid">
          </a>
        </div>
        <div class="examples__item example zoom-photo">
          <a href="../images/ex-11.jpg" class="zoom-photo__item" data-fancybox="examples">
            <span class="zoom-photo__shadow"></span>
            <img src="../img/examples/ex-11.jpg" alt="" class="zoom-photo__img img-fluid">
          </a>
        </div>
      </div>
    </div>

    <div class="cases__find find find_small">
      <div class="find__information find__information_df">
        <div class="find__title find__title_margin_right">Для получения более подробной информации посетите наш сайт!</div>
        <a href="#" class="find__btn_margin_none btn-link-default btn-link-default_v3 btn-link-default_longer">Перейти</a>
      </div>
    </div>
  </div>
</div>