<div class="necessary-services">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-sm-7 col-xl-8">
        <div class="necessary-services__group">
          <div class="title-h2 necessary-services__title">Когда нужны услуги испытательной лаборатории?</div>
          <div class="necessary-services__text">
            <div class="necessary-services__subtitle">Услуги испытательной лаборатории нужны в следующих случаях:</div>
            <ul class="default-list necessary-services__list">
              <li>Проверка изделий на соответствие техническим требованиям.</li>
              <li>Выявление брака в продукции.</li>
              <li>Определение качества материалов (как металлических, так и неметаллических).</li>
              <li>Определение коррозионной стойкости материалов.</li>
              <li>Определение прочностных характеристик материалов.</li>
              <li>Определение эксплуатационных характеристик материалов.</li>
              <li>Определение долговечности материалов.</li>
            </ul>

          </div>
        </div>
      </div>
      <div class="col-sm-5 col-xl-4 pl-0 pr-0 pl-sm-3 pr-sm-3">
        <img src="../img/necessary-services-bg.jpg" alt="" class="necessary-services__img necessary-services__img_last">
      </div>
    </div>
  </div>
</div>