<div class="articles-head main-page__articles-head">
	<div class="container">
		<div class="nj-tabs__group-tabs">
			<a href="#" class="nj-tabs__title articles-head__title nj-tabs__title_active">Новости компании</a>
			<a href="#" class="nj-tabs__title articles-head__title">Новости отрасли</a>
		</div>
	</div>
</div>

<div class="nj-tabs__group">
	<div class="articles articles_theme_gradient nj-tabs__info-fade nj-tabs__info_show" data-animation="animate__fadeIn">

		<div class="container">
			<div class="articles__wrap">

				<a href="#" class="article article_theme_dark">
					<div class="article__img-wrap article__img-wrap_width_more">
						<img src="../img/article_1.jpg" alt="" class="article__img">
					</div>

					<div class="article__body">
						<span class="article__date">18 июля 2020</span>

						<div class="article__title">
							Инженерная практика231
						</div>

						<div class="article__text">
							<p>Сотрудники ООО «НПЦ «Самара» приняли участие в III ежегодной научно-практической конференции
								«Добыча-2019. Повышение эффективности эксплуатации механизированного фонда скважин, ППД.» в г. Москва.
								Свой доклад на тему «Оценка качества и прогнозирование ресурса внутренних антикоррозионных покрытий НКТ»
								представил директор по науке Юдин Павел Евгеньевич. Данная тема вызвала большой интерес среди участников
								конференции, а автор был награжден в номинации «Лучший доклад дня».</p>
						</div>

					</div>

					<div class="article__more"></div>

				</a>
				<a href="#" class="article article_theme_dark">
					<div class="article__img-wrap article__img-wrap_width_more">
						<img src="../img/article_1.jpg" alt="" class="article__img">
					</div>

					<div class="article__body">
						<span class="article__date">18 июля 2020</span>

						<div class="article__title">
							Инженерная практика231
						</div>

						<div class="article__text">
							<p>Сотрудники ООО «НПЦ «Самара» приняли участие в III ежегодной научно-практической конференции
								«Добыча-2019. Повышение эффективности эксплуатации механизированного фонда скважин, ППД.» в г. Москва.
								Свой доклад на тему «Оценка качества и прогнозирование ресурса внутренних антикоррозионных покрытий НКТ»
								представил директор по науке Юдин Павел Евгеньевич. Данная тема вызвала большой интерес среди участников
								конференции, а автор был награжден в номинации «Лучший доклад дня».</p>
						</div>

					</div>

					<div class="article__more"></div>

				</a>
				<a href="#" class="article article_theme_dark">
					<div class="article__img-wrap article__img-wrap_width_more">
						<img src="../img/article_1.jpg" alt="" class="article__img">
					</div>

					<div class="article__body">
						<span class="article__date">18 июля 2020</span>

						<div class="article__title">
							Инженерная практика231
						</div>

						<div class="article__text">
							<p>Сотрудники ООО «НПЦ «Самара» приняли участие в III ежегодной научно-практической конференции
								«Добыча-2019. Повышение эффективности эксплуатации механизированного фонда скважин, ППД.» в г. Москва.
								Свой доклад на тему «Оценка качества и прогнозирование ресурса внутренних антикоррозионных покрытий НКТ»
								представил директор по науке Юдин Павел Евгеньевич. Данная тема вызвала большой интерес среди участников
								конференции, а автор был награжден в номинации «Лучший доклад дня».</p>
						</div>

					</div>

					<div class="article__more"></div>

				</a>
				<a href="#" class="article article_theme_dark">
					<div class="article__img-wrap article__img-wrap_width_more">
						<img src="../img/article_1.jpg" alt="" class="article__img">
					</div>

					<div class="article__body">
						<span class="article__date">18 июля 2020</span>

						<div class="article__title">
							Инженерная практика231
						</div>

						<div class="article__text">
							<p>Сотрудники ООО «НПЦ «Самара» приняли участие в III ежегодной научно-практической конференции
								«Добыча-2019. Повышение эффективности эксплуатации механизированного фонда скважин, ППД.» в г. Москва.
								Свой доклад на тему «Оценка качества и прогнозирование ресурса внутренних антикоррозионных покрытий НКТ»
								представил директор по науке Юдин Павел Евгеньевич. Данная тема вызвала большой интерес среди участников
								конференции, а автор был награжден в номинации «Лучший доклад дня».</p>
						</div>

					</div>

					<div class="article__more"></div>

				</a>
			</div>

		</div>

	</div>

	<div class="articles articles_theme_gradient nj-tabs__info-fade" data-animation="animate__fadeIn">

		<div class="container">
			<div class="articles__wrap">

				<a href="#" class="article article_theme_dark">
					<div class="article__img-wrap article__img-wrap_width_more">
						<img src="../img/article_1.jpg" alt="" class="article__img">
					</div>

					<div class="article__body">
						<span class="article__date">18 июля 2020</span>

						<div class="article__title">
							Инженерная практика
						</div>

						<div class="article__text">
							<p>Сотрудники ООО «НПЦ «Самара» приняли участие в III ежегодной научно-практической конференции
								«Добыча-2019. Повышение эффективности эксплуатации механизированного фонда скважин, ППД.» в г. Москва.
								Свой доклад на тему «Оценка качества и прогнозирование ресурса внутренних антикоррозионных покрытий НКТ»
								представил директор по науке Юдин Павел Евгеньевич. Данная тема вызвала большой интерес среди участников
								конференции, а автор был награжден в номинации «Лучший доклад дня».</p>
						</div>

					</div>

					<div class="article__more"></div>
				</a>

			</div>

		</div>

	</div>
</div>

