<div class="numbers-counter numbers-counter_theme_darken">
  <div class="numbers-counter__content">
    <div class="container">
      <div class="numbers-counter__title title-h2">Почему мы?</div>
      <div class="numbers-counter__group">
        <div class="row">
          <div class="col-sm-6 col-lg-4">
            <div class="numbers-counter__item item-advantage">
              <div class="item-advantage__number">
                <span class="item-advantage__counter" data-start="0" data-end="10">&hellip;</span>+
              </div>
              <div class="item-advantage__text">более 10 лет в отрасли</div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="numbers-counter__item item-advantage">
              <div class="item-advantage__number"><span class="item-advantage__counter" data-start="0" data-end="8000">&hellip;</span></div>
              <div class="item-advantage__text">проверка более 8000 аналитических<br> каналов в год</div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="numbers-counter__item item-advantage">
              <div class="item-advantage__number">
                <span class="item-advantage__counter" data-start="0" data-end="80">&hellip;</span>+
              </div>
              <div class="item-advantage__text">более 80 постоянных Контрагентов</div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="numbers-counter__item item-advantage">
              <div class="item-advantage__number">
                <span class="item-advantage__counter" data-start="0" data-end="2">&hellip;</span>+
              </div>
              <div class="item-advantage__text">поверка газоаналитического<br> оборудования от 2-ух дней</div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="numbers-counter__item item-advantage">
              <div class="item-advantage__number">
                <span class="item-advantage__counter" data-start="0" data-end="100">&hellip;</span>%
              </div>
              <div class="item-advantage__text">гарантия результата</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>