<div class="general-information general-information_theme_pre-footer">
  <div class="container">
    <div class="row">

      <div class="col-lg-7 col-xl-8">
        <div class="general-information__title title-h2">Как заказать услуги испытательной лаборатории?</div>
        <div class="general-information__text">
          <p class="general-information__paragraph">
            Стоимость услуг испытательной лаборатории определяется индивидуально для каждого случая. Цены на услуги
            зависят от количества проводимых испытаний и от степени их сложности. Кроме того, наличие нетипичных
            испытаний также повлияет на конечную стоимость проводимых работ. Для того чтобы узнать, стоимость испытаний
            в испытательной лаборатории, свяжитесь, пожалуйста, с нами. Для этого заполните форму заказа услуги,
            расположенную внизу страницы, или позвоните нам по телефонам, указанным в разделе «Контакты».
          </p>
        </div>

        <form action="" class="general-information__form form-default form-default_horizontal">
          <div class="form-row justify-content-end">
            <div class="col-sm-6 col-md-3 col-lg-4 col-xl-3">
              <input type="text" class="form-default__input" placeholder="Ваше имя">
            </div>
            <div class="col-sm-6 col-md-3 col-lg-4 col-xl-3">
              <input type="text" class="form-default__input" placeholder="Телефон">
            </div>
            <div class="col-sm-6 col-md-3 col-lg-4 col-xl-3">
              <input type="text" class="form-default__input" placeholder="E-mail">
            </div>
            <div class="col-sm-6 col-md-3 col-lg-4 col-xl-3">
              <button class="form-default__btn btn-link-default btn-link-default_v3 btn-link-default_width_full">Заказать звонок</button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-lg-5 col-xl-4 d-none d-lg-block">
        <div class="current-service">
          <ul class="current-service__menu menu-services">
            <li class="menu-services__item"><a href="#" class="menu-services__link menu-services__link_active">Испытательная
              лаборатория</a></li>
            <li class="menu-services__item"><a href="#" class="menu-services__link">Аналитический отдел</a></li>
            <li class="menu-services__item"><a href="#" class="menu-services__link">Отдел инспекционного контроля и
              коррозионного мониторинга</a></li>
            <li class="menu-services__item"><a href="#" class="menu-services__link">Отдел метрологии</a></li>
            <li class="menu-services__item"><a href="#" class="menu-services__link">Технический отдел</a></li>
          </ul>

          <div class="current-service__person person">
            <div class="person__photo">
              <img src="../img/person1.png" alt="" class="person__img img-fluid">
            </div>
            <div class="person__info">
              <div class="person__name">Добрикова Марина Александровна</div>
              <div class="person__department">Начальник лаборатории, К.Х.Н.</div>
              <a href="#" class="person__phone">8 (846) 932-03-23</a>
              <a href="#" class="person__email">dobrikova@npcsamara.ru</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>