<div class="history">
  <div class="container">
    <div class="history__title title-h1 title-h1_opacity">Наша история</div>

    <div class="timeline">

      <div class="timeline__item timeline__item_pos_bottom">
        <div class="timeline__dot"></div>
        <div class="timeline__information">
          <div class="timeline__year">2005</div>
          <div class="timeline__text">Год основания компании</div>
        </div>
      </div>

      <div class="timeline__item timeline__item_pos_top">
        <div class="timeline__dot"></div>
        <div class="timeline__information">
          <div class="timeline__text">Испытательная лабаратория ООО «НПЦ «Самара»» аккредитована Федеральной службой по аккредитации в области проведения испытаний</div>
          <div class="timeline__year">2011</div>
        </div>
      </div>

      <div class="timeline__item timeline__item_pos_bottom">
        <div class="timeline__dot"></div>
        <div class="timeline__information">
          <div class="timeline__year">2012</div>
          <div class="timeline__text">Год начала полевых работ по контролю за окраской резервуаров и металлоконструкций.</div>
        </div>
      </div>

      <div class="timeline__item timeline__item_pos_top">
        <div class="timeline__dot"></div>
        <div class="timeline__information">
          <div class="timeline__text">Год создания метрологической службы, занимающейся поверкой и ремонтом газоанализаторов; введен в эксплуатациюпервый лабораторный автоклав собственного производства.</div>
          <div class="timeline__year">2013</div>
        </div>
      </div>

      <div class="timeline__item timeline__item_pos_bottom">
        <div class="timeline__dot"></div>
        <div class="timeline__information">
          <div class="timeline__year">2014</div>
          <div class="timeline__text">Выполнено более 100 работ по экспертизе причин отказов и контролю качества нефтепромыслового оборудования и труб.</div>
        </div>
      </div>

      <div class="timeline__item timeline__item_pos_top">
        <div class="timeline__dot"></div>
        <div class="timeline__information">
          <div class="timeline__text">На собственной производственной базе запущено изготовление нестандартного лабораторного оборудования</div>
          <div class="timeline__year">2015</div>
        </div>
      </div>

      <div class="timeline__item timeline__item_pos_bottom">
        <div class="timeline__dot"></div>
        <div class="timeline__information">
          <div class="timeline__year">2016</div>
          <div class="timeline__text">Успешно реализовано более 10 договорных работ по инспекционному контролю, активное развитие авторского и технического контроля. География работ включает в себя более 50 населенных пунктов и строительных площадок.</div>
        </div>
      </div>

      <div class="timeline__item timeline__item_pos_top">
        <div class="timeline__dot"></div>
        <div class="timeline__information">
          <div class="timeline__text">Выполнено более 250 исследований различной степени сложности в области материаловедения в нефтегазовой отрасли, собственными силами реализовано 7 обширных НИОКР общей стоимостью более 50 млн. руб. Лаборатория НПЦ «Самара» включена в реестр испытательных центров ПАО «Транснефть».</div>
          <div class="timeline__year">2017</div>
        </div>
      </div>

      <div class="timeline__item timeline__item_pos_bottom">
        <div class="timeline__dot"></div>
        <div class="timeline__information">
          <div class="timeline__year">2018</div>
          <div class="timeline__text">Испытательная лабаратория оснащена оборудованием дляпроведения климатических испытаний. Опубликовано 30 научных работ в области материаловедения. Проверен пятимесячный гозоанализатор</div>
        </div>
      </div>

    </div>
  </div>
</div>