<div class="container">
	<h1>Партнеры</h1>

	<div class="main-page__map partners-map">
		<div class="partners-map__top">
			<div class="partners-map__title">Работаем по всей России и странам бывшего СНГ</div>
			<div class="partners-map__text">Мы работаем с крупнейшими заказчиками нефтяной, металлургической и многих других
				отраслей.
			</div>
			<a href="#" class="partners-map__link btn-link-default btn-link-default_v1">Выбрать область</a>
		</div>
		<img src="/images/big-map.svg" alt="" class="partners-map__img img-fluid">
	</div>
</div>

<div class="partners">
	<div class="container">
		<div class="partners__top">
			<div class="partners__title title-h2">Наши контрагенты</div>
			<button class="partners__btn btn-link-default" type="button">
				Выбрать город или область...
				<img src="/images/arrow-next-shine.svg" alt="" class="btn-link-default__arrow">
			</button>

			<div class="current-service current-service_fixed">
				<div class="current-service__close"></div>
				<ul class="current-service__menu menu-services menu-services_simple nj-tabs__group-tabs">
					<li class="menu-services__item"><a href="#" class="menu-services__link nj-tabs__title nj-tabs__title_active">Москва и МО</a></li>
					<li class="menu-services__item"><a href="#" class="menu-services__link nj-tabs__title">Санкт-Петербург</a></li>
				</ul>
			</div>
		</div>

		<div class="nj-tabs__group partners__deal deal-partners">
			<div class="nj-tabs__info nj-tabs__info_show" data-animation="animate__fadeIn">
				<div class="deal-partners__group">
					<a href="#" class="deal-partners__city">Москва</a>
					<div class="row">
						<div class="col-lg-4">
							<div class="deal-partners__item agent">
								<div class="agent__title">АО «КРОНОС СПб»</div>
								<div class="agent__text">
									<ul class="default-list">
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="deal-partners__item agent">
								<div class="agent__title">АО «КРОНОС СПб»</div>
								<div class="agent__text">
									<ul class="default-list">
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="deal-partners__item agent">
								<div class="agent__title">АО «КРОНОС СПб»</div>
								<div class="agent__text">
									<ul class="default-list">
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="deal-partners__item agent">
								<div class="agent__title">АО «КРОНОС СПб»</div>
								<div class="agent__text">
									<ul class="default-list">
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="deal-partners__item agent">
								<div class="agent__title">АО «КРОНОС СПб»</div>
								<div class="agent__text">
									<ul class="default-list">
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="deal-partners__item agent">
								<div class="agent__title">АО «КРОНОС СПб»</div>
								<div class="agent__text">
									<ul class="default-list">
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="deal-partners__group">
					<div class="deal-partners__city">Колпино</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="deal-partners__item agent">
								<div class="agent__title">АО «КРОНОС СПб»</div>
								<div class="agent__text">
									<ul class="default-list">
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="deal-partners__group">
					<div class="deal-partners__city">Никольское</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="deal-partners__item agent">
								<div class="agent__title">АО «КРОНОС СПб»</div>
								<div class="agent__text">
									<ul class="default-list">
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
										<li>Поставка Автоклавного комплекса «CoatTest»</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="deal-partners__item nj-tabs__info" data-animation="animate__fadeIn">
				qwe
			</div>
		</div>
	</div>

</div>
