<div class="popular-services">
  <div class="container">
    <div class="popular-services__title title-h2">Популярные услуги</div>
    <div class="row">
      <div class="col-lg-6">
        <a  href="#" class="popular-services__item service">
          <div class="service__photo"><img src="../img/pop-ser-1.jpg" alt="" class="service__img"></div>
          <div class="service__information">
            <div class="service__title">Определение химического состава металлов</div>
            <div class="service__text">Результатом работы будет протокол фрактографического исследования с выводами.</div>
            <div class="service__bottom">
              <div class="service__price">3 000 ₽</div>
              <div class="service__btn">Оставить заявку</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <a  href="#" class="popular-services__item service">

          <div class="service__information">
            <div class="service__title">Измерение твердости металла НВ (HRA, HRB, HRC) </div>
            <div class="service__text">Результатом работы будет протокол фрактографического исследования с выводами. работы будет протокол работы будет протокол</div>
            <div class="service__bottom">
              <div class="service__price">3 000 ₽</div>
              <div class="service__btn">Оставить заявку</div>
            </div>
          </div>
          <div class="service__photo"><img src="../img/pop-ser-2.jpg" alt="" class="service__img"></div>
        </a>
      </div>
      <div class="col-lg-6">
        <a  href="#" class="popular-services__item service">
          <div class="service__photo"><img src="../img/pop-ser-1.jpg" alt="" class="service__img"></div>
          <div class="service__information">
            <div class="service__title">Фрактографический анализ излома</div>
            <div class="service__text">Результатом работы будет протокол фрактографического исследования с выводами.</div>
            <div class="service__bottom">
              <div class="service__price">3 000 ₽</div>
              <div class="service__btn">Оставить заявку</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <a  href="#" class="popular-services__item service">
          <div class="service__information">
            <div class="service__title">Определение свойств металла при одноосном растяжении </div>
            <div class="service__text">Результатом работы будет протокол фрактографического исследования с выводами.</div>
            <div class="service__bottom">
              <div class="service__price">3 000 ₽</div>
              <div class="service__btn">Оставить заявку</div>
            </div>
          </div>
          <div class="service__photo"><img src="../img/pop-ser-2.jpg" alt="" class="service__img"></div>
        </a>
      </div>
      <div class="col-lg-6">
        <a href="#" class="popular-services__item service">
          <div class="service__photo"><img src="../img/pop-ser-1.jpg" alt="" class="service__img"></div>
          <div class="service__information">
            <div class="service__title">Металлография - оптическая микроскопия </div>
            <div class="service__text">Результатом работы будет протокол фрактографического исследования с выводами.</div>
            <div class="service__bottom">
              <div class="service__price">3 000 ₽</div>
              <div class="service__btn">Оставить заявку</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <div class="popular-services__item find">
          <div class="find__information">
            <div class="find__title">Не нашли то, что искали?</div>
            <a href="#" class="btn-link-default btn-link-default_v3">Еще услуги</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>