<div class="staff">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="employee-card-flipper">
          <div class="staff__item employee-card">
            <div class="employee-card__front">
              <div class="employee-card__photo">
                <img src="../img/staff/Maksimuk.jpg" alt="" class="employee-card__img img-fluid">
              </div>
              <div class="employee-card__information">
                <div class="employee-card__name">Максимук Андрей Викторович</div>
                <div class="employee-card__position">Управляющий</div>
              </div>
            </div>
            <div class="employee-card__back">
              <div class="employee-card__photo">
                <img src="../img/staff/back.jpg" alt="" class="employee-card__img img-fluid">
              </div>
              <div class="employee-card__information">
                <div class="employee-card__name">А также:</div>
                <div class="employee-card__position">Закаляет характер на тренировках по Тайскому боксу. </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="employee-card-flipper">
          <div class="staff__item employee-card">
            <div class="employee-card__front">
              <div class="employee-card__photo">
                <img src="../img/staff/Udin.jpg" alt="" class="employee-card__img img-fluid">
              </div>
              <div class="employee-card__information">
                <div class="employee-card__name">Юдин Павел Евгеньевич</div>
                <div class="employee-card__position">Директор по науке К.Т.Н.</div>
              </div>
            </div>
            <div class="employee-card__back">
              <div class="employee-card__photo">
                <img src="../img/staff/back.jpg" alt="" class="employee-card__img img-fluid">
              </div>
              <div class="employee-card__information">
                <div class="employee-card__name">А также:</div>
                <div class="employee-card__position">Закаляет характер на тренировках по Тайскому боксу. </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="employee-card-flipper">
          <div class="staff__item employee-card">
            <div class="employee-card__front">
              <div class="employee-card__photo">
                <img src="../img/staff/Verevkin.jpg" alt="" class="employee-card__img img-fluid">
              </div>
              <div class="employee-card__information">
                <div class="employee-card__name">Веревкин Александр Григорьевич</div>
                <div class="employee-card__position">Директор по развитию К.Х.Н.</div>
              </div>
            </div>
            <div class="employee-card__back">
              <div class="employee-card__photo">
                <img src="../img/staff/back.jpg" alt="" class="employee-card__img img-fluid">
              </div>
              <div class="employee-card__information">
                <div class="employee-card__name">А также:</div>
                <div class="employee-card__position">Закаляет характер на тренировках по Тайскому боксу. </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="employee-card-flipper">
          <div class="staff__item employee-card">
            <div class="employee-card__front">
              <div class="employee-card__photo">
                <img src="../img/staff/Petrov.jpg" alt="" class="employee-card__img img-fluid">
              </div>
              <div class="employee-card__information">
                <div class="employee-card__name">Петров Сергей Степанович</div>
                <div class="employee-card__position">Начальник аналитического отдела</div>
              </div>
            </div>
            <div class="employee-card__back">
              <div class="employee-card__photo">
                <img src="../img/staff/back.jpg" alt="" class="employee-card__img img-fluid">
              </div>
              <div class="employee-card__information">
                <div class="employee-card__name">А также:</div>
                <div class="employee-card__position">Закаляет характер на тренировках по Тайскому боксу. </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="employee-card-flipper">
          <div class="staff__item employee-card">
            <div class="employee-card__front">
              <div class="employee-card__photo">
                <img src="../img/staff/Vasin.jpg" alt="" class="employee-card__img img-fluid">
              </div>
              <div class="employee-card__information">
                <div class="employee-card__name">Васин Роман Александрович</div>
                <div class="employee-card__position">Начальник отдела инспекционного контроля и коррозионного мониторинга</div>
              </div>
            </div>
            <div class="employee-card__back">
              <div class="employee-card__photo">
                <img src="../img/staff/back.jpg" alt="" class="employee-card__img img-fluid">
              </div>
              <div class="employee-card__information">
                <div class="employee-card__name">А также:</div>
                <div class="employee-card__position">Закаляет характер на тренировках по Тайскому боксу. </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="employee-card-flipper">
          <div class="staff__item employee-card">
            <div class="employee-card__front">
              <div class="employee-card__photo">
                <img src="../img/staff/Zheldak.jpg" alt="" class="employee-card__img img-fluid">
              </div>
              <div class="employee-card__information">
                <div class="employee-card__name">Желдак Максим Владимирович</div>
                <div class="employee-card__position">Начальник технологического отдела – Руководитель проектов</div>
              </div>
            </div>
            <div class="employee-card__back">
              <div class="employee-card__photo">
                <img src="../img/staff/back.jpg" alt="" class="employee-card__img img-fluid">
              </div>
              <div class="employee-card__information">
                <div class="employee-card__name">А также:</div>
                <div class="employee-card__position">Закаляет характер на тренировках по Тайскому боксу. </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="employee-card-flipper">
          <div class="staff__item employee-card">
            <div class="employee-card__front">
              <div class="employee-card__photo">
                <img src="../img/staff/Manahov.jpg" alt="" class="employee-card__img img-fluid">
              </div>
              <div class="employee-card__information">
                <div class="employee-card__name">Манахов Андрей Михайлович</div>
                <div class="employee-card__position">Начальник отдела метрологии</div>
              </div>
            </div>
            <div class="employee-card__back">
              <div class="employee-card__photo">
                <img src="../img/staff/back.jpg" alt="" class="employee-card__img img-fluid">
              </div>
              <div class="employee-card__information">
                <div class="employee-card__name">А также:</div>
                <div class="employee-card__position">Закаляет характер на тренировках по Тайскому боксу. </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="employee-card-flipper">
          <div class="staff__item employee-card">
            <div class="employee-card__front">
              <div class="employee-card__photo">
                <img src="../img/staff/Dobrikova.jpg" alt="" class="employee-card__img img-fluid">
              </div>
              <div class="employee-card__information">
                <div class="employee-card__name">Добрикова Марина Александровна</div>
                <div class="employee-card__position">Начальник лаборатории, К.Х.Н.</div>
              </div>
            </div>
            <div class="employee-card__back">
              <div class="employee-card__photo">
                <img src="../img/staff/back.jpg" alt="" class="employee-card__img img-fluid">
              </div>
              <div class="employee-card__information">
                <div class="employee-card__name">А также:</div>
                <div class="employee-card__position">Закаляет характер на тренировках по Тайскому боксу. </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="employee-card-flipper">
          <div class="staff__item employee-card">
            <div class="employee-card__front">
              <div class="employee-card__photo">
                <img src="../img/staff/Malysheva.jpg" alt="" class="employee-card__img img-fluid">
              </div>
              <div class="employee-card__information">
                <div class="employee-card__name">Малышева Зарина</div>
                <div class="employee-card__position">Офис-менеджер</div>
              </div>
            </div>
            <div class="employee-card__back">
              <div class="employee-card__photo">
                <img src="../img/staff/back.jpg" alt="" class="employee-card__img img-fluid">
              </div>
              <div class="employee-card__information">
                <div class="employee-card__name">А также:</div>
                <div class="employee-card__position">Закаляет характер на тренировках по Тайскому боксу. </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>