<div class="necessary-services necessary-services_testing">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-sm-4 col-lg-3 col-xl-3 col-xxl-2 pl-0 pr-0 pl-sm-3 pr-sm-3 d-none d-sm-block">
        <img src="../img/testing-services-bg.jpg" alt="" class="necessary-services__img necessary-services__img_first">
      </div>
      <div class="col-sm-8 col-lg-9 col-xl-9 col-xxl-10">
        <div class="necessary-services__group necessary-services__group_testing">
          <div class="title-h2 necessary-services__title necessary-services__title_testing">Что мы испытываем?</div>
          <div class="necessary-services__text">
            <div class="necessary-services__subtitle necessary-services__subtitle_testing">Наша лаборатория проводит испытания следующих материалов:</div>
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <div class="icons-advantages__item icons-advantages__item_testing item-icon ">
                  <img src="../img/icons/icon-testing-1.svg" alt="" class="item-icon__img">
                  <div class="item-icon__information">
                    <div class="item-icon__text">Внутренние антикоррозионные покрытия всех типов</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="icons-advantages__item icons-advantages__item_testing item-icon">
                  <img src="../img/icons/icon-testing-2.svg" alt="" class="item-icon__img">
                  <div class="item-icon__information">
                    <div class="item-icon__text">Все виды наружной изоляции</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="icons-advantages__item icons-advantages__item_testing item-icon">
                  <img src="../img/icons/icon-testing-3.svg" alt="" class="item-icon__img">
                  <div class="item-icon__information">
                    <div class="item-icon__text">Покрытия наружной и внутренней поверхностей резервуаров</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="icons-advantages__item icons-advantages__item_testing item-icon">
                  <img src="../img/icons/icon-testing-4.svg" alt="" class="item-icon__img">
                  <div class="item-icon__information">
                      <div class="item-icon__text">Покрытия металлоконструкций<br>
                        (в любых климатических исполнениях)</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="icons-advantages__item icons-advantages__item_testing item-icon">
                  <img src="../img/icons/icon-testing-5.svg" alt="" class="item-icon__img">
                  <div class="item-icon__information">
                    <div class="item-icon__text">Металлы и сплавы</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="icons-advantages__item icons-advantages__item_testing item-icon">
                  <img src="../img/icons/icon-testing-6.svg" alt="" class="item-icon__img">
                  <div class="item-icon__information">
                    <div class="item-icon__text">Неметаллические материалы<br> (в том числе трубы из композиционных материалов)</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>