.latest-news {
  &__item {
    display: block;
    background: rgba(0, 147, 192, 0.55);
    border-radius: 15px;
    padding: 25px 20px;
    position: relative;
    text-decoration: none;
    margin-bottom: 30px;
    height: 230px;
    &::after {
      content: '';
      position: absolute;
      bottom: 21px;
      right: 18px;
      background: url('../../../../img/arrow-right.svg') no-repeat;
      background-size: contain;
      width: 32px;
      height: 27px;
      transition: .3s;
    }
    &:hover {
      text-decoration: none;
    }
    &:hover::after {
      animation: arrowRight .8s ease-in-out infinite;
    }
  }
  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 28px;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    max-height: 108px;
    overflow-y: hidden;
    opacity: .9;
  }
  &__date {
    position: absolute;
    bottom: 24px;
    left: 20px;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 0.01em;
    padding: 0 35px 0 27px;
    opacity: .9;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: url('../../../../img/date-before.svg') no-repeat;
      background-size: contain;
      width: 19px;
      height: 20px;
    }
  }
  &__bottom {
    margin-top: 40px;
    text-align: right;
  }
}