@media (max-width: 767.98px) {
  .title-h1 {
    font-size: 42px;
    line-height: 44px;
  }
  .main-menu {
    display: none;
  }
  .main-slider{
    &__title {
      font-size: 62px;
      line-height: 69px;
      -webkit-text-stroke: 3px rgba(255, 255, 255, 0.1);
    }
    &__content {
      margin-top: 70px;
      height: auto;
    }
    &__item {
      &__text-picture {
        margin-bottom: 20px;
      }
      &_slide_1 .main-slider__active-picture {
        max-width: 400px;
      }
      &_slide_2 .main-slider__active-picture {
        max-width: 450px;
      }
      &_slide_3 .main-slider__active-picture {
        max-width: 570px;
        left: -70px;
      }
      &_slide_3 .main-slider__text-picture {
        margin-bottom: 20px;
      }
      &_slide_4 .main-slider__active-picture {
        max-width: 270px;
        right: -67px;
        bottom: 36px;
      }
      &_slide_5 .main-slider__active-picture {
        max-width: 400px;
        right: -70px;
        bottom: 60px;
      }
      &_slide_3 .main-slider__title {
        font-size: 33px;
        line-height: 40px;
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
      }
    }
  }

  .information-slide{
   &__paragraph {
     font-size: 16px;
     line-height: 19px;
     margin-bottom: 8px;
   }
  }

  .main-cases{
    &__top {
      margin-bottom: 30px;
    }
    &__title {
      margin-bottom: 13px;
      opacity: 1;
    }
    &__subtitle {
      max-width: 410px;
    }
  }

  .slider-cases{
    &__item{
      margin-bottom: 30px;
    }
    & .slick-slide {
      margin: 8px;
    }
  }
  .case-item {
    padding: 20px;
  }

  .main-territory {
    padding-bottom: 20px;
    background-image: none;
    &__map {
      display: none;
      &_mobile{
        display: block;
        padding: 0 15px;
        text-align: center;
      }
    }
    &__photo {
      margin-bottom: 60px;
    }
  }
  .territory-photo {
    &__img {
      width: 100%;
    }
  }

  .main-press {
    background-image: none;

  }

  .latest-news {
    &__item {
      height: 220px;
    }
    &__title {
      font-size: 20px;
      line-height: 22px;
      margin-bottom: 7px;
    }
    &__text {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .latest-articles {
    &__title {
      font-size: 16px;
      line-height: 18px;
    }
  }

  .footer {
    &__search {
      margin-top: 0;
      margin-bottom: 40px;
    }
  }

  .column-item {
    &__title {
      font-size: 24px;
      padding-bottom: 15px;
    }
  }

  .search-default {
    max-width: 100%;
  }

/*  body {
    background: linear-gradient(266.51deg, rgba(1, 36, 53, 0.5) 35.41%, rgba(2, 106, 150, 0.5) 95.37%),
    linear-gradient(180deg, #1C3341 0%, rgba(0, 0, 0, 1) 100%, #1C3341 100%);
  }

  .section, .header {
    background: none;
  }

  .footer {
    background: linear-gradient(266deg, #0E2E4E -6.9%, rgba(14, 87, 140, 1) -6.89%, #04253C 100%);
  }*/
}