.logo {
  max-width: 167px;
  display: block;
  &__img {
    max-width: 100%;
  }
}

.main-menu {
  &__group {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-bottom: 0;
  }
  &__link {
    font-weight: 300;
    font-size: 16px;
    line-height: 33px;
    text-decoration: none;
    transition: .3s;
    position: relative;
    display: block;
    &::after {
      content: '';
      opacity: 0;
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.8);
      @include boxShadow(#00C3FF);
      transition: .3s;
    }
    &:hover {
      color: $white;
      @include textShadow(#00C3FF);
      text-decoration: none;
    }
    &:hover::after {
      content: '';
      opacity: 1;
    }
  }
  &__item_dropdown_open &__link {
    @include textShadow(#00C3FF);
  }
  &__item_dropdown_open &__link::after {
    content: '';
    opacity: 1;
  }
}

.main-menu-level {
  width: 100%;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  border-radius: 10px;
  background: rgba(5,53,84, 0.8);
  @include borderWhiteRGBA(.8);
  @include shadowBtnLinkDefault(#00C3FF, #00C3FF);
  padding: 5px 0;
  &__group {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
  }
  &__link {
    padding: 7px 10px;
    font-weight: 300;
    display: block;
    text-decoration: none;
    opacity: .9;
    font-size: 16px;
    position: relative;
    &:hover {
      color: $white;
      @include textShadow(#00C3FF);
      text-decoration: none;
    }
  }
}