.form-default {
  &__input {
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 10px 10px 20px;
    margin-bottom: 10px;
    @include borderWhiteRGBA(.8);
    border-radius: 25px;
    @include shadowBtnLinkDefault(#00C3FF, #00C3FF);
    transition: all .5s ease-in-out;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: transparent;
    color: $white;
    width: 100%;
    &:focus {
      @include shadowBtnLinkDefaultHover(#00C3FF, #00C3FF);
    }
  }
  &__textarea {
    resize: none;
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 10px 10px 20px;
    margin-bottom: 10px;
    @include borderWhiteRGBA(.8);
    border-radius: 25px;
    @include shadowBtnLinkDefault(#00C3FF, #00C3FF);
    transition: all .5s ease-in-out;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: transparent;
    color: $white;
    width: 100%;
    height: 300px;
    &:focus {
      @include shadowBtnLinkDefaultHover(#00C3FF, #00C3FF);
    }
  }
  &_two_columns  .form-default__input {
    margin-bottom: 30px;
  }
  &_two_columns  .form-default__textarea {
    margin-bottom: 30px;
    height: 204px;
  }
}