<footer class="section footer fp-auto-height">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 d-none d-lg-block">
        <div class="footer-categories">
          <div class="row">
            <div class="col-lg-6">
              <div class="footer-categories__item column-item">
                <div class="column-item__title">Информация</div>
                <ul class="column-item__group">
                  <li class="column-item__list">
                    <a href="#" class="column-item__link transition">О компании</a>
                  </li>
                  <li class="column-item__list">
                    <a href="#" class="column-item__link transition">Услуги</a>
                  </li>
                  <li class="column-item__list">
                    <a href="#" class="column-item__link transition">Партнёры</a>
                  </li>
                  <li class="column-item__list">
                    <a href="#" class="column-item__link transition">Кейсы</a>
                  </li>
                  <li class="column-item__list">
                    <a href="#" class="column-item__link transition">Статьи</a>
                  </li>
                  <li class="column-item__list">
                    <a href="#" class="column-item__link transition">Отзывы</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="footer-categories__item column-item">
                <div class="column-item__title">Наши направления</div>
                <ul class="column-item__group column-item__group_dots">
                  <li class="column-item__list">
                    <a href="#" class="column-item__link transition">Испытательная лаборатория</a>
                  </li>
                  <li class="column-item__list">
                    <a href="#" class="column-item__link transition">Аналитический отдел</a>
                  </li>
                  <li class="column-item__list">
                    <a href="#" class="column-item__link transition">Технический отдел</a>
                  </li>
                  <li class="column-item__list">
                    <a href="#" class="column-item__link transition">Метрологический отдел</a>
                  </li>
                  <li class="column-item__list">
                    <a href="#" class="column-item__link transition">
                      Отдел инспекционного контроля и коррозионного мониторинга
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 d-block d-md-none">
        <form action="#" class="search_form footer__search search-default">
          <div class="search-default__group">
            <input type="hidden" name="module" value="search">
            <input class="search-default__input" id="textbox" type="text" name="searchword" placeholder="Поиск">
            <button class="search-default__button" type="submit"></button>
          </div>
        </form>
      </div>
      <div class="col-sm-6 col-md-7 col-xl-5">
        <div class="column-item">
          <div class="column-item__title column-item__title_maw">Контакты</div>
          <div class="column-item__address address">
            г. Самара Гаражный проезд 3-Б<br class="d-lg-none"> <strong>Режим работы:</strong> Пн.-Пт.: 9.00-18.00<br>
            <strong>Email:</strong>
            <a href="mailto:office@npcsamara.ru" class="address__link">office@npcsamara.ru</a><br>
            <strong>Телефон:</strong>
            <a href="tel:88469320323" class="address__link">8 (846) 932-03-23</a><br>
          </div>
          <form action="#" class="search_form footer__search search-default d-none d-md-block">
            <div class="search-default__group">
              <input type="hidden" name="module" value="search">
              <input class="search-default__input" id="textbox" type="text" name="searchword" placeholder="Поиск">
              <button class="search-default__button" type="submit"></button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-6 col-md-5 col-xl-3">
        <div class="footer__lab">
          <a href="/" class="logo footer__logo transition">
            <img src="../img/logo.svg" alt="" class="logo__img">
          </a>
          <div class="cosial footer__cosial">
            <a href="#" class="cosial__item" target="_blank">
              <img src="../img/cosial/cosial-01.svg" alt="" class="cosial__icon cosial__icon_vk">
            </a>
            <a href="#" class="cosial__item" target="_blank">
              <img src="../img/cosial/cosial-02.svg" alt="" class="cosial__icon cosial__icon_fb">
            </a>
            <a href="#" class="cosial__item" target="_blank">
              <img src="../img/cosial/cosial-03.svg" alt="" class="cosial__icon cosial__icon_inst">
            </a>
            <a href="#" class="cosial__item" target="_blank">
              <img src="../img/cosial/cosial-04.svg" alt="" class="cosial__icon cosial__icon_twit">
            </a>
          </div>
          <div class="footer__copyright copyright">
            <p class="copyright__text">Copyright © 2005 - 2020, npcsamara.ru</p>
            <!--noindex-->
            <p class="copyright__text">Системный интернет-маркетинг <a href="https://forward-media.ru/" target="_blank"
                                                                       class="copyright__link">ASM Forward Media</a>
            </p>
            <p class="copyright__text">Наш сайт разработали в <a href="https://forward-media.ru/" target="_blank"
                                                                 class="copyright__link">ASM Forward Media</a>
            </p>
            <!--/noindex-->
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>