<div class="top">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-10 col-md-5 col-lg-3">
        <a href="/" class="logo transition">
          <img src="../img/logo.svg" alt="" class="logo__img">
        </a>
      </div>
      <div class="col-2 col-md-7 col-lg-9">
        <nav class="main-menu">
          <ul class="main-menu__group">
            <li class="main-menu__item main-menu__item_dropdown">
              <a href="test-lab.html" class="main-menu__link transition">О компании</a>
              <div class="main-menu-level">
                <ul class="main-menu-level__group">
                  <li class="main-menu-level__item">
                    <a href="test-lab.html" class="main-menu-level__link transition">Наша команда</a>
                  </li>
                  <li class="main-menu-level__item">
                    <a href="test-lab.html" class="main-menu-level__link transition">Новости: компании и отрасли</a>
                  </li>
                  <li class="main-menu-level__item">
                    <a href="test-lab.html" class="main-menu-level__link transition">Отзывы</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="main-menu__item"><a href="test-lab.html" class="main-menu__link transition">Услуги</a></li>
            <li class="main-menu__item"><a href="test-lab.html" class="main-menu__link">Партнеры</a></li>
            <li class="main-menu__item"><a href="test-lab.html" class="main-menu__link">Кейсы</a></li>
            <li class="main-menu__item"><a href="test-lab.html" class="main-menu__link">Статьи</a></li>
            <li class="main-menu__item main-menu__item_active"><a href="test-lab.html" class="main-menu__link">Контакты</a></li>
          </ul>
        </nav>
        <a href="#menu" class="mobile-menu-btn">
          <span class="mobile-menu-btn__span"></span>
        </a>
      </div>
    </div>
  </div>
</div>