.main-press {
  overflow: hidden;
  background-image: url('../../../../img/section-press-bg.png');
  background-repeat: no-repeat;
  background-position: right top;
  &__title {
    margin-bottom: 30px;
    &_text_right {
      text-align: right;
    }
  }
}

@import "latestNews/latestNews";
@import "latestArticles/latestArticles";