.btn-link-default {
  display: inline-block;
  font-weight: 300;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 50px;
  margin-bottom: 10px;
  @include borderWhiteRGBA(.8);
  border-radius: 25px;
  @include shadowBtnLinkDefault(#00C3FF, #00C3FF);
  transition: all .5s ease-in-out;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: transparent;
  color: $white;
  &_width_full {
    padding: 10px;
    width: 100%;
  }
  &_v2 {
    @include borderBlueRGBA(.8);
    text-transform: none;
  }
  &:hover {
    transition: all .3s ease-in-out;
    @include shadowBtnLinkDefaultHover(#00C3FF, #00C3FF);
    text-decoration: none;
  }
  &:after, &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    border-radius: 0 0 50% 50%/0 0 75% 75%;
    @include bgBtnLinkDefault(#074167, #022031);
    transition: all .3s ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
  }
  &:hover::after {
    transition: all .3s ease-in-out;
    height: 260%;
  }
  &_v3 {
    @include borderBlueRGBA(.8);
    background: $lightBlue;
    text-transform: none;
    &:hover {
      color: #022031;
    }
    &:after, &:before {
      content: '';
      @include bgBtnLinkDefault($white, $white);
    }
    &:hover::after {
      height: 260%;
    }
  }
  &_longer {
    padding: 10px 70px;
  }
}