.main-cases {
  background-image: url('../../../img/light-cases.png');
  background-repeat: no-repeat;
  background-position: top left;
  position: relative;
  overflow: hidden;
  padding-bottom: 30px;
  &__content {
    position: relative;
    z-index: 9;
  }
  &__top {
    margin-bottom: 60px;
  }
  &__title {
    opacity: 0.25;
  }
  &__subtitle {
    font-weight: 300;
    font-size: 22px;
  }
  &__active-picture {
    position: absolute;
    bottom: -15px;
    right: 0;
    z-index: 0;
    max-width: 660px;
  }
}

@import "activePicture/activePicture";
@import "slider/slider";