<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><block name="title" /></title>
    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bundle.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/bundle.js" defer></script>
    <script src="/js/main.js" defer></script>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png">
    <base href="./">
</head>
<body>
<block name="body" />
</body>
</html>
