.necessary-services {
  position: relative;
  background: #022C43;
  &_testing {
    background: radial-gradient(65.14% 84.79% at 100% 0%, #033755 0%, #012435 100%);
  }
  &__group {
    padding: 60px 0 110px 0;
    &_testing {
      padding: 60px 0 10px 0;
    }
  }
  &__title {
    text-align: right;
    margin-bottom: 70px;
    &_testing {
      text-align: left;
      margin-bottom: 60px;
    }
  }
  &__subtitle {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    opacity: 0.6;
    &_testing {
      margin-bottom: 60px;
    }
  }
  &__img {
    position: absolute;
    height: 100%;
    &_last {
      left: 0;
      margin-left: 15px;
    }
    &_first {
      right: 0;
      margin-right: 15px;
    }
  }
}

/*.necessary-services {
  position: relative;
  background: #022C43;
  &__group {
    padding: 60px 0 0 0;
  }
  &__title {
    text-align: right;
    margin-bottom: 70px;
  }
  &__subtitle {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    opacity: 0.6;
  }
  &__photo {
    position: absolute;
    right: 0;
    top: 0;
  }
  &__img {
    margin-right: 0;
  }
}*/
