.contacts {
  padding-bottom: 60px;
  &__data {
    margin-bottom: 70px;
  }
  &__requisites {
    margin-bottom: 40px;
  }
}

.contacts-information {
  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 60px;
  }
  &__item {
    position: relative;
    font-weight: bold;
    font-size: 18px;
    display: block;
    padding-left: 30px;
    text-decoration: none;
    transition: .3s;
    color: $white;
    margin-bottom: 20px;
    &::before {
      content: '';
      position: absolute;
    }
    &_adr::before {
      background: url('../../../../img/adr.svg') no-repeat;
      background-size: contain;
      width: 38px;
      height: 36px;
      top: -3px;
      left: -7px;
    }
    &_time::before {
      background: url('../../../../img/time.svg') no-repeat;
      background-size: contain;
      width: 38px;
      height: 36px;
      top: -5px;
      left: -7px;
    }
    &_phone::before {
      background: url('../../../../img/phone.svg') no-repeat;
      background-size: contain;
      width: 38px;
      height: 36px;
      top: -3px;
      left: -7px;
    }
    &_email::before {
      background: url('../../../../img/email.svg') no-repeat;
      background-size: contain;
      width: 38px;
      height: 32px;
      top: -1px;
      left: -8px;
    }
  }
  &__link {
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    transition: .3s;
    color: $white;
  }
  &__link:hover {
    text-decoration: none;
    @include textShadow(#00C3FF);
  }
}

.requisites {
  &__title {
    color: #07a7d8;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.1em;
    border-bottom: 1px solid transparent;
    display: inline-block;
    &:hover {
      border-bottom: 1px solid rgba(7, 167, 216, .7);
    }
  }
}